.navbar-default {
  min-height: 60px;
  margin-bottom: 0;
  padding-top: 3px;
}
.navbar-default .navbar-brand {
  font-family: "Microsoft YaHei", "宋体", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: #2f2e2e;
  letter-spacing: 5px;
}
.navbar-default .navbar-brand img {
  height: 28px;
  margin-top: -4px;
  display: inline;
}
.navbar-default .navbar-nav > li > a {
  color: #2f2e2e;
}
.navbar-default .navbar-nav > li > a:hover {
  color: #f28241;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #2f2e2e;
}
.navbar-ul {
  list-style: none;
  float: right;
  padding-top: 15px;
  padding-right: 20px;
}
.navbar-ul li {
  float: left;
  margin-left: 20px;
  font-family: "微软雅黑";
  font-size: 16px;
}
.navbar-toggle {
  border: none;
}
.navbar-toggle .icon-bar {
  width: 28px;
  height: 3px;
}
.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 5px;
}
.navbar-collapse {
  overflow: hidden;
}
.carousel {
  height: 500px;
  margin-bottom: 20px;
}
.carousel .item {
  height: 500px;
  background-color: #000000;
}
.carousel .item img {
  width: 100%;
  height: 600px;
}
.navbar .container .navbar-collapse .header-search {
  margin-top: 8px;
  margin-left: 43px;
}
.navbar .container .navbar-collapse .navbar-nav {
  float: right;
}
.container .task-area-title {
  font-size: 15px;
  font-family: 微软雅黑;
}
.container .task-area-title .info-img {
  width: 36px;
}
.container .row .task-area {
  text-align: center;
  height: 317px;
}
.container .row .task-area .img-circle {
  border-radius: 0;
  width: 150px;
  height: 150px;
}
.carousel-control .icon-prev,
.carousel-control .icon-next,
.carousel-control .fa-chevron-left,
.carousel-control .fa-chevron-right {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
}
