<!DOCTYPE html>
<html >

<head>
    <meta charset="utf-8">
    <title>器材</title>
    <link rel="stylesheet" href="css/new.css" />
    <link rel="stylesheet" href="css/equipmentDetail.css"/>
    <script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
</head>

<body>
<%include header.ejs%>
<nav class="secondary-nav">
    <ul class="nav-list">
        <ul class="nav-list">
            <li class="active" data-index="0">
                <a target="_self" href="/equipmentDetail">首页</a>
            </li>
            <li class="" data-index="1">
                <a target="_self" href="/equipmentDetailCameraBody">机身</a>
            </li>
            <li class="" data-index="2">
                <a target="_self" href="/equipmentDetailCamera">相机</a>
            </li>
            <li class="" data-index="3">
                <a target="_self" href="/equipmentDetailLen">镜头</a>
            </li>
            <li class="" data-index="4">
                <a target="_self" href="/equipmentDetailPhone">手机</a>
            </li>
        </ul>
    </ul>
</nav>
<div class="container" id="detail-container">
    <h1>器材样片库</h1>
    <main role="main" class="col-main col-xs-12">
        <section>
            <h2>可更换镜头相机</h2>
            <div class="equip-index-table row clearfix">
                <div class="col-1-5">
                    <section class="card">
                        <h3 class="card-header"><a href="#">Canon(佳能)</a></h3>
                        <ul class="inner">
                            <li>
                                <a href="#">EOS 5D Mark III</a>
                            </li>
                            <li>
                                <a href="#">EOS 6D</a>
                            </li>
                            <li>
                                <a href="#">EOS 5D Mark IV</a>
                            </li>
                            <li>
                                <a href="#">EOS 5D Mark II</a>
                            </li>
                            <li>
                                <a href="#">EOS 80D</a>
                            </li>
                            <li>
                                <a href="#">EOS 70D</a>
                            </li>
                            <li>
                                <a href="#/body/canon-eos-700d/">EOS 700D</a>
                            </li>
                            <li>
                                <a href="#/body/canon-eos-60d/">EOS 60D</a>
                            </li>
                            <li>
                                <a href="#/body/canon-eos-6d-mark-ii/">EOS 6D Mark II</a>
                            </li>
                            <li>
                                <a href="#/body/canon-eos-750d/">EOS 750D</a>
                            </li>
                            <li class="more">
                                <a href="#/body/canon/">所有型号…</a>
                            </li>
                        </ul>
                    </section>
                </div>
                <div class="col-1-5">
                    <section class="card">
                        <h3 class="card-header"><a href="#/body/nikon/">Nikon(尼康)</a></h3>
                        <ul class="inner">
                            <li>
                                <a href="#/body/nikon-d750/">D750</a>
                            </li>
                            <li>
                                <a href="#/body/nikon-d810/">D810</a>
                            </li>
                            <li>
                                <a href="#/body/nikon-d7100/">D7100</a>
                            </li>
                            <li>
                                <a href="#/body/nikon-d800/">D800</a>
                            </li>
                            <li>
                                <a href="#/body/nikon-d610/">D610</a>
                            </li>
                            <li>
                                <a href="#/body/nikon-d7000/">D7000</a>
                            </li>
                            <li>
                                <a href="#/body/nikon-d7200/">D7200</a>
                            </li>
                            <li>
                                <a href="#/body/nikon-d5300/">D5300</a>
                            </li>
                            <li>
                                <a href="#/body/nikon-d700/">D700</a>
                            </li>
                            <li>
                                <a href="#/body/nikon-d90/">D90</a>
                            </li>
                            <li class="more">
                                <a href="#/body/nikon/">所有型号…</a>
                            </li>
                        </ul>
                    </section>
                </div>
                <div class="col-1-5">
                    <section class="card">
                        <h3 class="card-header"><a href="#/body/sony/">SONY(索尼)</a></h3>
                        <ul class="inner">
                            <li>
                                <a href="#/body/sony-ilce-7m2/">ILCE-7M2</a>
                            </li>
                            <li>
                                <a href="#/body/sony-ilce-7rm2/">ILCE-7RM2</a>
                            </li>
                            <li>
                                <a href="#/body/sony-a6000/">ILCE-6000</a>
                            </li>
                            <li>
                                <a href="#/body/sony-a7/">ILCE-7</a>
                            </li>
                            <li>
                                <a href="#/body/sony-dsc-rx10m3/">DSC-RX10 III</a>
                            </li>
                            <li>
                                <a href="#/body/sony-ilce-6300/">ILCE-6300</a>
                            </li>
                            <li>
                                <a href="#/body/sony-a7r/">ILCE-7R</a>
                            </li>
                            <li>
                                <a href="#/body/sony-ilce-5100/">ILCE-5100</a>
                            </li>
                            <li>
                                <a href="#/body/sony-a5000/">ILCE-5000</a>
                            </li>
                            <li>
                                <a href="#/body/sony-nex-5n/">NEX-5N</a>
                            </li>
                            <li class="more">
                                <a href="#/body/sony/">所有型号…</a>
                            </li>
                        </ul>
                    </section>
                </div>
                <div class="col-1-5">
                    <section class="card">
                        <h3 class="card-header"><a href="#/body/pentax/">PENTAX(宾得)</a></h3>
                        <ul class="inner">
                            <li>
                                <a href="#/body/pentax-k-50/">K-50</a>
                            </li>
                            <li>
                                <a href="#/body/pentax-k-5-ii-s/">K-5 II s</a>
                            </li>
                            <li>
                                <a href="#/body/pentax-k-5/">K-5</a>
                            </li>
                            <li>
                                <a href="#/body/pentax-k-30/">K-30</a>
                            </li>
                            <li>
                                <a href="#/body/pentax-k-5-ii/">K-5 II</a>
                            </li>
                            <li>
                                <a href="#/body/pentax-k-r/">K-r</a>
                            </li>
                            <li>
                                <a href="#/body/pentax-k-01/">K-01</a>
                            </li>
                            <li>
                                <a href="#/body/pentax-k-x/">K-x</a>
                            </li>
                            <li>
                                <a href="#/body/pentax-k10d/">K10D</a>
                            </li>
                            <li>
                                <a href="#/body/pentax-k-7/">K-7</a>
                            </li>
                            <li class="more">
                                <a href="#/body/pentax/">所有型号…</a>
                            </li>
                        </ul>
                    </section>
                </div>
                <div class="col-1-5">
                    <section class="card">
                        <h3 class="card-header"><a href="#/body/olympus/">OLYMPUS(奥林巴斯)</a></h3>
                        <ul class="inner">
                            <li>
                                <a href="#/body/olympus-e-m1/">E-M1</a>
                            </li>
                            <li>
                                <a href="#/body/olympus-e-p5/">E-P5</a>
                            </li>
                            <li>
                                <a href="#/body/olympus-e-m5/">E-M5</a>
                            </li>
                            <li>
                                <a href="#/body/olympus-e-m10/">E-M10</a>
                            </li>
                            <li>
                                <a href="#/body/olympus-e-pl5/">E-PL5</a>
                            </li>
                            <li>
                                <a href="#/body/olympus-e-pl2/">E-PL2</a>
                            </li>
                            <li>
                                <a href="#/body/olympus-e-30/">E-30</a>
                            </li>
                            <li>
                                <a href="#/body/olympus-e-pl6/">E-PL6</a>
                            </li>
                            <li>
                                <a href="#/body/olympus-e-pl1/">E-PL1</a>
                            </li>
                            <li>
                                <a href="#/body/olympus-e-620/">E-620</a>
                            </li>
                            <li class="more">
                                <a href="#/body/olympus/">所有型号…</a>
                            </li>
                        </ul>
                    </section>
                </div>
            </div>
            <p class="card inner" style="margin: 8px 0;">其他品牌：
                <a href="#/body/panasonic/">Panasonic</a>&nbsp;
                <a href="#/body/samsung/">SAMSUNG</a>&nbsp;
                <a href="#/body/sigma/">SIGMA</a>&nbsp;
                <a href="#/body/konica-minolta/">KONICA MINOLTA</a>&nbsp;
                <a href="#/body/kodak/">Kodak</a>&nbsp;
                <a href="#/body/fujifilm/">FUJIFILM</a>&nbsp;
                <a href="#/body/epson/">EPSON</a>&nbsp;
                <a href="#/body/leica/">Leica</a>&nbsp;
                <a href="#/body/hasselblad/">Hasselblad</a>&nbsp;
                <a href="#/body/contax/">CONTAX</a>&nbsp;
                <a href="#/body/mamiya/">Mamiya</a>
            </p>
        </section>
        <section class="">
            <h2>镜头</h2>
            <div class="equip-index-table row clearfix">
                <div class="col-1-5">
                    <section class="card">
                        <h3 class="card-header">佳能EF卡口</h3>
                        <ul class="inner">
                            <li>
                                <a href="#/lens/canon-ef-24-70mm-f-2.8l-ii-usm/">Canon EF 24-70mm
                                    f/2.8L II USM</a>
                            </li>
                            <li>
                                <a href="#/lens/canon-ef-24-105mm-f-4l-is-usm/">Canon EF 24-105mm f/4L
                                    IS USM</a>
                            </li>
                            <li>
                                <a href="#/lens/canon-ef-50mm-f-1.4-usm/">Canon EF 50mm f/1.4 USM</a>
                            </li>
                            <li>
                                <a href="#/lens/canon-ef-70-200mm-f-2.8l-is-ii-usm/">Canon EF 70-200mm
                                    f/2.8L IS II USM</a>
                            </li>
                            <li>
                                <a href="#/lens/canon-ef-s-18-135mm-f-3.5-5.6-is-stm/">Canon EF-S
                                    18-135mm f/3.5-5.6 IS STM</a>
                            </li>
                            <li>
                                <a href="#/lens/canon-ef-50mm-f-1.2l-usm/">Canon EF 50mm f/1.2L
                                    USM</a>
                            </li>
                            <li>
                                <a href="#/lens/canon-ef-24-70mm-f-2.8l-usm/">Canon EF 24-70mm f/2.8L
                                    USM</a>
                            </li>
                            <li>
                                <a href="#/lens/canon-ef-16-35mm-f-2.8l-ii-usm/">Canon EF 16-35mm
                                    f/2.8L II USM</a>
                            </li>
                            <li>
                                <a href="#/lens/canon-ef-50mm-f-1.8-ii/">Canon EF 50mm f/1.8 II</a>
                            </li>
                            <li>
                                <a href="#/lens/canon-ef-17-40mm-f-4l-usm/">Canon EF 17-40mm f/4L
                                    USM</a>
                            </li>
                        </ul>
                    </section>
                </div>
                <div class="col-1-5">
                    <section class="card">
                        <h3 class="card-header">尼康F卡口</h3>
                        <ul class="inner">
                            <li>
                                <a href="#/lens/af-s-zoom-nikkor-24-70mm-f-2.8g-ed/">AF-S Zoom-Nikkor
                                    24-70mm f/2.8G ED</a>
                            </li>
                            <li>
                                <a href="#/lens/af-s-dx-vr-zoom-nikkor-18-105mm-f-3.5-5.6g-ed/">AF-S
                                    DX VR Zoom-Nikkor 18-105mm f/3.5-5.6G ED</a>
                            </li>
                            <li>
                                <a href="#/lens/af-s-nikkor-50mm-f-1.8g/">AF-S Nikkor 50mm f/1.8G</a>
                            </li>
                            <li>
                                <a href="#/lens/af-nikkor-50mm-f-1.8d/">AF Nikkor 50mm f/1.8D</a>
                            </li>
                            <li>
                                <a href="#/lens/af-s-nikkor-24-120mm-f-4g-ed-vr/">AF-S Nikkor 24-120mm
                                    f/4G ED VR</a>
                            </li>
                            <li>
                                <a href="#/lens/af-s-dx-nikkor-35mm-f-1.8g/">AF-S DX Nikkor 35mm
                                    f/1.8G</a>
                            </li>
                            <li>
                                <a href="#/lens/af-s-nikkor-70-200mm-f-2.8g-ed-vr-ii/">AF-S Nikkor
                                    70-200mm f/2.8G ED VR II</a>
                            </li>
                            <li>
                                <a href="#/lens/af-s-zoom-nikkor-14-24mm-f-2.8g-ed/">AF-S Zoom-Nikkor
                                    14-24mm f/2.8G ED</a>
                            </li>
                            <li>
                                <a href="#/lens/af-s-nikkor-50mm-f-1.4g/">AF-S Nikkor 50mm f/1.4G</a>
                            </li>
                            <li>
                                <a href="#/lens/af-s-nikkor-85mm-f-1.8g/">AF-S Nikkor 85mm f/1.8G</a>
                            </li>
                        </ul>
                    </section>
                </div>
                <div class="col-1-5">
                    <section class="card">
                        <h3 class="card-header">宾得K卡口</h3>
                        <ul class="inner">
                            <li>
                                <a href="#/lens/smc-pentax-da-18-55mm-f3.5-5.6-al/">smc PENTAX-DA
                                    18-55mm F3.5-5.6 AL</a>
                            </li>
                            <li>
                                <a href="#/lens/smc-pentax-da-40mm-f2.8-limited/">smc PENTAX-DA 40mm
                                    F2.8 Limited</a>
                            </li>
                            <li>
                                <a href="#/lens/lens-sigma-17-50mm-f2.8-ex-dc-hsm/">Sigma 17-50mm F2.8
                                    EX DC HSM</a>
                            </li>
                            <li>
                                <a href="#/lens/smc-pentax-fa-43mm-f1.9-limited/">smc PENTAX-FA 43mm
                                    F1.9 Limited</a>
                            </li>
                            <li>
                                <a href="#/lens/smc-pentax-fa-77mm-f1.8-limited/">smc PENTAX-FA 77mm
                                    F1.8 Limited</a>
                            </li>
                            <li>
                                <a href="#/lens/smc-pentax-da*-50-135mm-f2.8-ed-if-sdm/">smc
                                    PENTAX-DA* 50-135mm F2.8 ED [IF] SDM</a>
                            </li>
                            <li>
                                <a href="#/lens/smc-pentax-da-18-55mm-f3.5-5.6-al-wr/">smc PENTAX-DA
                                    18-55mm F3.5-5.6 AL WR</a>
                            </li>
                            <li>
                                <a href="#/lens/smc-pentax-da-l-18-55mm-f3.5-5.6/">smc PENTAX-DA L
                                    18-55mm F3.5-5.6</a>
                            </li>
                            <li>
                                <a href="#/lens/smc-pentax-da-16-45mm-f4-ed-al/">smc PENTAX-DA 16-45mm
                                    F4 ED AL</a>
                            </li>
                            <li>
                                <a href="#/lens/smc-pentax-da*-16-50mm-f2.8-ed-al-if-sdm/">smc
                                    PENTAX-DA* 16-50mm F2.8 ED AL [IF] SDM</a>
                            </li>
                        </ul>
                    </section>
                </div>
                <div class="col-1-5">
                    <section class="card">
                        <h3 class="card-header">索尼α卡口</h3>
                        <ul class="inner">
                            <li>
                                <a href="#/lens/fe-16-35mm-f4-za-oss/">FE 16-35mm F4 ZA</a>
                            </li>
                            <li>
                                <a href="#/lens/carl-zeiss-vario-sonnar-t*-24-70mm-f2.8-za-ssm-sal-2470z/">Carl
                                    Zeiss Vario-Sonnar T* 24-70mm F2.8 ZA SSM (SAL-2470Z)</a>
                            </li>
                            <li>
                                <a href="#/lens/minolta-sony-af-75-300mm-f4.5-5.6-d/">Minolta/Sony AF
                                    75-300mm F4.5-5.6 (D)</a>
                            </li>
                            <li>
                                <a href="#/lens/minolta-sony-af-70-200mm-f2.8-g/">Minolta/Sony AF
                                    70-200mm F2.8 G</a>
                            </li>
                            <li>
                                <a href="#/lens/minolta-af-50mm-f1.4-new/">Minolta AF 50mm F1.4
                                    [New]</a>
                            </li>
                            <li>
                                <a href="#/lens/carl-zeiss-sonnar-t*-135mm-f1.8-za-(sal135f18z)/">Carl
                                    Zeiss Sonnar T* 135mm F1.8 ZA (SAL135F18Z)</a>
                            </li>
                            <li>
                                <a href="#/lens/carl-zeiss-sonnar-t*-135mm-f1.8-za/">Carl Zeiss Sonnar
                                    T* 135mm F1.8 ZA</a>
                            </li>
                            <li>
                                <a href="#/lens/minolta-sony-af-dt-18-70mm-f3.5-5.6-d/">Minolta/Sony
                                    AF DT 18-70mm F3.5-5.6 (D)</a>
                            </li>
                            <li>
                                <a href="#/lens/minolta-af-50mm-f1.7/">Minolta AF 50mm F1.7</a>
                            </li>
                            <li>
                                <a href="#/lens/minolta-sony-135mm-f2.8-t4.5-stf/">Minolta/Sony 135mm
                                    F2.8 [T4.5] STF</a>
                            </li>
                        </ul>
                    </section>
                </div>
                <div class="col-1-5">
                    <section class="card">
                        <h3 class="card-header">4/3系统</h3>
                        <ul class="inner">
                            <li>
                                <a href="#/lens/lumix-g-vario-7-14-f4/">LUMIX G VARIO 7-14/F4</a>
                            </li>
                            <li>
                                <a href="#/lens/lumix-g-20mm-f1.7/">LUMIX G 20mm F1.7</a>
                            </li>
                            <li>
                                <a href="#/lens/olympus-zuiko-digital-ed-12-60mm-f2.8-4swd/">Olympus
                                    Zuiko Digital ED 12-60mm F2.8-4SWD</a>
                            </li>
                            <li>
                                <a href="#/lens/olympus-m.zuiko-digital-17mm-f2.8-pancake/">Olympus
                                    M.Zuiko Digital 17mm F2.8 Pancake</a>
                            </li>
                            <li>
                                <a href="#/lens/olympus-zuiko-digital-ed-14-42mm-f3.5-5.6/">Olympus
                                    Zuiko Digital ED 14-42mm F3.5-5.6</a>
                            </li>
                            <li>
                                <a href="#/lens/olympus-zuiko-digital-14-45mm-f3.5-5.6/">Olympus Zuiko
                                    Digital 14-45mm F3.5-5.6</a>
                            </li>
                            <li>
                                <a href="#/lens/olympus-m.17mm-f2.8/">OLYMPUS M.17mm F2.8</a>
                            </li>
                            <li>
                                <a href="#/lens/lumix-g-vario-14-45mm-f3.5-5.6/">LUMIX G VARIO 14-45mm
                                    F3.5-5.6</a>
                            </li>
                            <li>
                                <a href="#/lens/olympus-m.9-18mm-f4-5.6/">OLYMPUS M.9-18mm F4-5.6</a>
                            </li>
                            <li>
                                <a href="#/lens/olympus-m.14-42mm-f3.5-5.6/">OLYMPUS M.14-42mm
                                    F3.5-5.6</a>
                            </li>
                        </ul>
                    </section>
                </div>
            </div>
            <p class="card inner" style="margin: 8px 0;">
                其他品牌：
                <a href="#/lens/canon/">佳能</a>
                <a href="#/lens/nikon/">尼康</a>
                <a href="#/lens/pentax/">宾得</a>
                <a href="#/lens/sony/">索尼</a>
                <a href="#/lens/sigma/">适马</a>
                <a href="#/lens/tamron/">腾龙</a>
                <a href="#/lens/tokina/">图丽</a>
                <a href="#/lens/carl-zeiss/">卡尔蔡司</a>
                <a href="#/lens/olympus/">奥林巴斯</a>
                <a href="#/lens/panasonic/">松下</a>
                <a href="#/lens/leica/">莱卡</a>
            </p>
        </section>
        <section>
            <h2>不可更换镜头相机</h2>
            <div class="equip-index-table row clearfix">
                <div class="col-1-5">
                    <section class="card">
                        <h3 class="card-header"><a href="#/camera/canon/">Canon(佳能)</a></h3>
                        <ul class="inner">
                            <li>
                                <a href="#/camera/mix-canon-eos-7d-mark-ii/">Canon EOS 7D Mark II</a>
                            </li>
                            <li>
                                <a href="#/camera/canon-eos-m5/">EOS M5</a>
                            </li>
                            <li>
                                <a href="#/camera/canon-powershot-g12/">PowerShot G12</a>
                            </li>
                            <li>
                                <a href="#/camera/canon-powershot-sx60-hs/">PowerShot SX60 HS</a>
                            </li>
                            <li>
                                <a href="#/camera/canon-powershot-sx710-hs/">PowerShot SX710 HS</a>
                            </li>
                            <li>
                                <a href="#/camera/canon-powershot-g9/">PowerShot G9</a>
                            </li>
                            <li>
                                <a href="#/camera/canon-powershot-g1-x/">PowerShot G1 X</a>
                            </li>
                            <li>
                                <a href="#/camera/canon-powershot-g15/">PowerShot G15</a>
                            </li>
                            <li class="more">
                                <a href="#/camera/canon/">所有型号…</a>
                            </li>
                        </ul>
                    </section>
                </div>
                <div class="col-1-5">
                    <section class="card">
                        <h3 class="card-header"><a href="#/camera/panasonic/">Panasonic(松下)</a></h3>
                        <ul class="inner">
                            <li>
                                <a href="#/camera/panasonic-dmc-lx7/">DMC-LX7</a>
                            </li>
                            <li>
                                <a href="#/camera/panasonic-dmc-lx5/">DMC-LX5</a>
                            </li>
                            <li>
                                <a href="#/camera/panasonic-dmc-lx100/">DMC-LX100</a>
                            </li>
                            <li>
                                <a href="#/camera/panasonic-dmc-zs7/">DMC-ZS7</a>
                            </li>
                            <li>
                                <a href="#/camera/panasonic-dmc-lx3/">DMC-LX3</a>
                            </li>
                            <li>
                                <a href="#/camera/panasonic-dmc-g85/">DMC-G85</a>
                            </li>
                            <li>
                                <a href="#/camera/panasonic-dmc-fx01/">DMC-FX01</a>
                            </li>
                            <li>
                                <a href="#/camera/panasonic-dmc-tz3/">DMC-TZ3</a>
                            </li>
                            <li class="more">
                                <a href="#/camera/panasonic/">所有型号…</a>
                            </li>
                        </ul>
                    </section>
                </div>
                <div class="col-1-5">
                    <section class="card">
                        <h3 class="card-header"><a href="#/camera/sony/">SONY(索尼)</a></h3>
                        <ul class="inner">
                            <li>
                                <a href="#/camera/sony-dsc-rx100m3/">DSC-RX100M3</a>
                            </li>
                            <li>
                                <a href="#/camera/sony-dsc-rx100/">DSC-RX100</a>
                            </li>
                            <li>
                                <a href="#/camera/sony-dsc-hx50/">DSC-HX50</a>
                            </li>
                            <li>
                                <a href="#/camera/sony-dsc-hx400/">DSC-HX400</a>
                            </li>
                            <li>
                                <a href="#/camera/sony-dsc-rx100m2/">DSC-RX100M2</a>
                            </li>
                            <li>
                                <a href="#/camera/sony-dsc-rx1r/">DSC-RX1R</a>
                            </li>
                            <li>
                                <a href="#/camera/sony-dsc-f828/">DSC-F828</a>
                            </li>
                            <li>
                                <a href="#/camera/sony-ilca-99m2/">ILCA-99M2</a>
                            </li>
                            <li class="more">
                                <a href="#/camera/sony/">所有型号…</a>
                            </li>
                        </ul>
                    </section>
                </div>
                <div class="col-1-5">
                    <section class="card">
                        <h3 class="card-header"><a href="#/camera/fujifilm/">FUJIFILM(富士)</a></h3>
                        <ul class="inner">
                            <li>
                                <a href="#/camera/fujifilm-x100t/">X100T</a>
                            </li>
                            <li>
                                <a href="#/camera/fujifilm-x100s/">X100S</a>
                            </li>
                            <li>
                                <a href="#/camera/fujifilm-finepix-x100/">FinePix X100</a>
                            </li>
                            <li>
                                <a href="#/camera/fujifilm-finepix-f200exr/">FinePix F200EXR</a>
                            </li>
                            <li>
                                <a href="#/camera/fujifilm-finepix-s9600/">FinePix S9600</a>
                            </li>
                            <li>
                                <a href="#/camera/fujifilm-x30/">X30</a>
                            </li>
                            <li>
                                <a href="#/camera/fujifilm-finepix-hs35exr/">FinePix HS35EXR</a>
                            </li>
                            <li>
                                <a href="#/camera/fujifilm-finepix-z3/">FinePix Z3</a>
                            </li>
                            <li class="more">
                                <a href="#/camera/fujifilm/">所有型号…</a>
                            </li>
                        </ul>
                    </section>
                </div>
                <div class="col-1-5">
                    <section class="card">
                        <h3 class="card-header"><a href="#/camera/ricoh/">RICOH(理光)</a></h3>
                        <ul class="inner">
                            <li>
                                <a href="#/camera/ricoh-gr-digital-3/">GR DIGITAL 3</a>
                            </li>
                            <li>
                                <a href="#/camera/ricoh-caplio-gx100/">Caplio GX100</a>
                            </li>
                            <li>
                                <a href="#/camera/ricoh-gr-digital-4/">GR DIGITAL 4</a>
                            </li>
                            <li>
                                <a href="#/camera/ricoh-gxr-mount-a12/">GXR MOUNT A12</a>
                            </li>
                            <li>
                                <a href="#/camera/ricoh-gr-digital-2/">GR DIGITAL 2</a>
                            </li>
                            <li>
                                <a href="#/camera/ricoh-gr-digital/">GR Digital</a>
                            </li>
                            <li>
                                <a href="#/camera/ricoh-gx200/">GX200</a>
                            </li>
                            <li>
                                <a href="#/camera/ricoh-caplio-gx8/">Caplio GX8</a>
                            </li>
                            <li class="more">
                                <a href="#/camera/ricoh/">所有型号…</a>
                            </li>
                        </ul>
                    </section>
                </div>

                <div class="col-1-5">
                    <section class="card">
                        <h3 class="card-header"><a href="#/camera/nikon/">Nikon(尼康)</a></h3>
                        <ul class="inner">
                            <li>
                                <a href="#/camera/nikon-d3400/">D3400</a>
                            </li>
                            <li>
                                <a href="#/camera/nikon-1-j1/">1 J1</a>
                            </li>
                            <li>
                                <a href="#/camera/nikon-coolpix-p100/">COOLPIX P100</a>
                            </li>
                            <li>
                                <a href="#/camera/nikon-coolpix-a/">COOLPIX A</a>
                            </li>
                            <li>
                                <a href="#/camera/nikon-coolpix-s3000/">COOLPIX S3000</a>
                            </li>
                            <li>
                                <a href="#/camera/nikon-coolpix-p5100/">COOLPIX P5100</a>
                            </li>
                            <li>
                                <a href="#/camera/nikon-e5700/">E5700</a>
                            </li>
                            <li>
                                <a href="#/camera/nikon-e4200/">E4200</a>
                            </li>
                            <li class="more">
                                <a href="#/camera/nikon/">所有型号…</a>
                            </li>
                        </ul>
                    </section>
                </div>
                <div class="col-1-5">
                    <section class="card">
                        <h3 class="card-header"><a href="#/camera/sigma/">SIGMA(适马)</a></h3>
                        <ul class="inner">
                            <li>
                                <a href="#/camera/sigma-dp1-quattro/">dp1 Quattro</a>
                            </li>
                            <li>
                                <a href="#/camera/sigma-dp1-merrill/">DP1 Merrill</a>
                            </li>
                            <li>
                                <a href="#/camera/sigma-dp2-quattro/">dp2 Quattro</a>
                            </li>
                            <li>
                                <a href="#/camera/sigma-dp3-merrill/">DP3 Merrill</a>
                            </li>
                            <li>
                                <a href="#/camera/sigma-dp2-merrill/">DP2 Merrill</a>
                            </li>
                            <li>
                                <a href="#/camera/sigma-dp1s/">DP1S</a>
                            </li>
                            <li>
                                <a href="#/camera/sigma-dp3-quattro/">dp3 Quattro</a>
                            </li>
                            <li>
                                <a href="#/camera/sigma-dp2s/">DP2S</a>
                            </li>
                            <li class="more">
                                <a href="#/camera/sigma/">所有型号…</a>
                            </li>
                        </ul>
                    </section>
                </div>
                <div class="col-1-5">
                    <section class="card">
                        <h3 class="card-header"><a href="#/camera/samsung/">SAMSUNG(三星)</a></h3>
                        <ul class="inner">
                            <li>
                                <a href="#/camera/samsung-vluu-nv11/">VLUU NV11</a>
                            </li>
                            <li>
                                <a href="#/camera/samsung-vluu-es65-es67-sl50/">VLUU ES65, ES67 /
                                    SL50</a>
                            </li>
                            <li>
                                <a href="#/camera/samsung-mv800/">MV800</a>
                            </li>
                            <li>
                                <a href="#/camera/samsung-vluu-st50/">VLUU ST50</a>
                            </li>
                            <li>
                                <a href="#/camera/samsung-ek-gc100/">EK-GC100</a>
                            </li>
                            <li>
                                <a href="#/camera/samsung-digimax-s600-kenox-s600-digimax-cyber-630/">Digimax
                                    S600 / Kenox S600 / Digimax Cyber 630</a>
                            </li>
                            <li>
                                <a href="#/camera/samsung-vluu-pl70-sl720/">VLUU PL70 / SL720</a>
                            </li>
                            <li>
                                <a href="#/camera/samsung-d70-d75-s730-s750/">D70 / D75 / S730 /
                                    S750</a>
                            </li>
                            <li class="more">
                                <a href="#/camera/samsung/">所有型号…</a>
                            </li>
                        </ul>
                    </section>
                </div>
                <div class="col-1-5">
                    <section class="card">
                        <h3 class="card-header"><a href="#/camera/kodak/">Kodak(柯达)</a></h3>
                        <ul class="inner">
                            <li>
                                <a href="#/camera/kodak-easyshare-m863-digital-camera/">EASYSHARE M863
                                    DIGITAL CAMERA</a>
                            </li>
                            <li>
                                <a href="#/camera/kodak-z7590-zoom/">Z7590 ZOOM</a>
                            </li>
                            <li>
                                <a href="#/camera/kodak-z740-zoom/">Z740 ZOOM</a>
                            </li>
                            <li>
                                <a href="#/camera/kodak-z712-is-zoom/">Z712 IS ZOOM</a>
                            </li>
                            <li>
                                <a href="#/camera/kodak-easyshare-z1012-is/">EASYSHARE Z1012 IS</a>
                            </li>
                            <li>
                                <a href="#/camera/kodak-dx6490-zoom/">DX6490 ZOOM</a>
                            </li>
                            <li>
                                <a href="#/camera/kodak-z650-zoom/">Z650 ZOOM</a>
                            </li>
                            <li>
                                <a href="#/camera/kodak-dx4530-zoom/">DX4530 ZOOM</a>
                            </li>
                            <li class="more">
                                <a href="#/camera/kodak/">所有型号…</a>
                            </li>
                        </ul>
                    </section>
                </div>
                <div class="col-1-5">
                    <section class="card">
                        <h3 class="card-header"><a href="#/camera/olympus/">OLYMPUS(奥林巴斯)</a></h3>
                        <ul class="inner">
                            <li>
                                <a href="#/camera/olympus-sz-10/">SZ-10</a>
                            </li>
                            <li>
                                <a href="#/camera/olympus-sp590uz/">SP590UZ</a>
                            </li>
                            <li>
                                <a href="#/camera/olympus-e-pl3/">E-PL3</a>
                            </li>
                            <li>
                                <a href="#/camera/olympus-fe320-x835-c540/">FE320,X835,C540</a>
                            </li>
                            <li>
                                <a href="#/camera/olympus-fe4050-x970/">FE4050,X970</a>
                            </li>
                            <li>
                                <a href="#/camera/olympus-sp565uz/">SP565UZ</a>
                            </li>
                            <li>
                                <a href="#/camera/olympus-c5050z/">C5050Z</a>
                            </li>
                            <li>
                                <a href="#/camera/olympus-u7040,s7040/">u7040,S7040</a>
                            </li>
                            <li class="more">
                                <a href="#/camera/olympus/">所有型号…</a>
                            </li>
                        </ul>
                    </section>
                </div>
            </div>
            <p class="card inner" style="margin: 8px 0;">其他品牌：
                <a href="#/camera/sanyo/">SANYO</a>&nbsp;
                <a href="#/camera/konica-minolta/">KONICA MINOLTA</a>&nbsp;
                <a href="#/camera/casio/">CASIO</a>&nbsp;
                <a href="#/camera/benq/">BenQ</a>&nbsp;
                <a href="#/camera/leica/">Leica</a>&nbsp;
                <a href="#/camera/pentax/">PENTAX</a>&nbsp;
                <a href="#/camera/minolta/">Minolta</a>&nbsp;
                <a href="#/camera/aigo/">aigo</a>
            </p>
        </section>
        <section>
            <div class="equip-index-table row clearfix">
                <div class="col-1-4">
                    <section class="card">
                        <h2 class="card-header"><a href="#/phone/">手机</a></h2>
                        <ul class="inner">
                            <li>
                                <a href="#/phone/apple/">Apple</a>
                                <a href="#/phone/apple-iphone-7-plus/">iPhone 7 Plus</a>
                            </li>
                            <li>
                                <a href="#/phone/apple/">Apple</a>
                                <a href="#/phone/apple-iphone-6s/">iPhone 6s</a>
                            </li>
                            <li>
                                <a href="#/phone/huawei/">HUAWEI</a>
                                <a href="#/phone/HUAWEI Mate9 LEICA DUAL CAMERA/">HUAWEI Mate9 LEICA
                                    DUAL CAMERA</a>
                            </li>
                            <li>
                                <a href="#/phone/apple/">Apple</a>
                                <a href="#/phone/apple-iphone-6/">iPhone 6</a>
                            </li>
                            <li>
                                <a href="#/phone/apple/">Apple</a>
                                <a href="#/phone/apple-iphone-7/">iPhone 7</a>
                            </li>
                            <li>
                                <a href="#/phone/apple/">Apple</a>
                                <a href="#/phone/apple-iphone-6s-plus/">iPhone 6s Plus</a>
                            </li>
                            <li class="more">
                                <a href="#/phone/">所有型号…</a>
                            </li>
                        </ul>
                    </section>
                </div>
                <div class="col-1-4">
                    <section class="card">
                        <h2 class="card-header" class="card-header" class="card-header"><a
                                    href="#/scanner/">扫描仪</a></h2>
                        <ul class="inner">
                            <li>
                                <a href="#/scanner/fujifilm/">FUJIFILM</a>
                                <a href="#/scanner/fujifilm-sp-3000/">SP-3000</a>
                            </li>
                            <li>
                                <a href="#/scanner/noritsu/">NORITSU</a>
                                <a href="#/scanner/noritsu-qss-32-33/">QSS-32_33</a>
                            </li>
                            <li>
                                <a href="#/scanner/epson/">EPSON</a>
                                <a href="#/scanner/epson-perfectionv700/">PerfectionV700</a>
                            </li>
                            <li>
                                <a href="#/scanner/seiko-epson/">SEIKO EPSON</a>
                                <a href="#/scanner/seiko-epson-scanner/">EPSON scanner</a>
                            </li>
                            <li>
                                <a href="#/scanner/epson/">EPSON</a>
                                <a href="#/scanner/epson-perfection-v800-v850/">Perfection
                                    V800/V850</a>
                            </li>
                            <li>
                                <a href="#/scanner/canon/">Canon</a>
                                <a href="#/scanner/canon-canoscan-9000f-mark-ii/">CanoScan 9000F Mark
                                    II</a>
                            </li>
                            <li class="more">
                                <a href="#/scanner/">所有型号…</a>
                            </li>
                        </ul>
                    </section>
                </div>
                <div class="col-1-4">
                    <section class="card">
                        <h2 class="card-header" class="card-header"><a href="#/back/">数码后背</a></h2>
                        <ul class="inner">
                            <li>
                                <a href="#/back/phase-one/">Phase One</a>
                                <a href="#/back/phase-one-p-45plus/">P 45+</a>
                            </li>
                            <li>
                                <a href="#/back/phase-one/">Phase One</a>
                                <a href="#/back/phase-one-p25plus/">P25+</a>
                            </li>
                            <li>
                                <a href="#/back/phase-one/">Phase One</a>
                                <a href="#/back/phase-one-iq180/">IQ180</a>
                            </li>
                            <li>
                                <a href="#/back/phase-one/">Phase One</a>
                                <a href="#/back/phase-one-p25/">P25</a>
                            </li>
                            <li>
                                <a href="#/back/phase-one/">Phase One</a>
                                <a href="#/back/phase-one-iq160/">IQ160</a>
                            </li>
                            <li>
                                <a href="#/back/phase-one/">Phase One</a>
                                <a href="#/back/phase-one-p-30plus/">P 30+</a>
                            </li>
                            <li class="more">
                                <a href="#/back/">所有型号…</a>
                            </li>
                        </ul>
                    </section>
                </div>
                <div class="col-1-4">
                    <section class="card">
                        <h2 class="card-header"><a href="#/dv/">DV</a></h2>
                        <ul class="inner">
                            <li>
                                <a href="#/dv/dji/">DJI</a>
                                <a href="#/dv/dji-fc220/">FC220</a>
                            </li>
                            <li>
                                <a href="#/dv/sony/">SONY</a>
                                <a href="#/dv/sony-nex-vg20e/">NEX-VG20E</a>
                            </li>
                            <li>
                                <a href="#/dv/sony/">SONY</a>
                                <a href="#/dv/sony-hdr-sr7e/">HDR-SR7E</a>
                            </li>
                            <li>
                                <a href="#/dv/sony/">SONY</a>
                                <a href="#/dv/sony-cx270e/">HDR-CX270E</a>
                            </li>
                            <li>
                                <a href="#/dv/canon/">Canon</a>
                                <a href="#">EOS-1D C</a>
                            </li>
                            <li>
                                <a href="#">SANYO</a>
                                <a href="#">HD1000</a>
                            </li>
                            <li class="more">
                                <a href="#">所有型号…</a>
                            </li>
                        </ul>
                    </section>
                </div>
            </div>
            <div class="clearfix"></div>
        </section>
    </main>
</div>
<%include footer.ejs%>
<script>
    $("#detail-container a").attr("href","#");
</script>
</body>

</html>