<!DOCTYPE html>
<html >

<head>
    <meta charset="utf-8">
    <title>器材 - 镜头</title>
    <link rel="stylesheet" href="css/new.css" />
    <link rel="stylesheet" href="css/equipmentDetail.css"/>
    <script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
</head>

<body>
<%include header.ejs%>
<nav class="secondary-nav">
    <ul class="nav-list">
        <li class="" data-index="0">
            <a target="_self" href="/equipmentDetail">首页</a>
        </li>
        <li class="" data-index="1">
            <a target="_self" href="/equipmentDetailCameraBody">机身</a>
        </li>
        <li class="" data-index="2">
            <a target="_self" href="/equipmentDetailCamera">相机</a>
        </li>
        <li class="active" data-index="3">
            <a target="_self" href="/equipmentDetailLen">镜头</a>
        </li>
        <li class="" data-index="4">
            <a target="_self" href="/equipmentDetailPhone">手机</a>
        </li>
    </ul>
</nav>
<div class="container">
    <main role="main" class="col-main col-xs-12">
            <h2>镜头</h2>
        <table class="table table-style table-striped">
            <thead>
            <tr>
                <td class="make">&#x54C1;&#x724C;</td>
                <td class="model">&#x578B;&#x53F7;</td>
                <td>&#x6837;&#x5F20;&#x6570;</td>
                <td>&#x672C;&#x6708;&#x65B0;&#x589E;</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="make"><a href="https://tuchong.com/lens/unknown/">unknown</a></td>
                <td class="model"><a href="https://tuchong.com/lens/11735/">Canon EF 50mm f/1.8 STM</a></td>
                <td><a href="https://tuchong.com/lens/11735/">296085</a></td>
                <td><a href="https://tuchong.com/lens/11735/">17928</a></td>
            </tr>
            <tr>
                <td class="make"><a href="https://tuchong.com/lens/canon/">Canon</a></td>
                <td class="model"><a href="https://tuchong.com/lens/canon-ef-24-70mm-f-2.8l-ii-usm/">Canon EF 24-70mm f/2.8L II USM</a></td>
                <td><a href="https://tuchong.com/lens/canon-ef-24-70mm-f-2.8l-ii-usm/">302537</a></td>
                <td><a href="https://tuchong.com/lens/canon-ef-24-70mm-f-2.8l-ii-usm/">16707</a></td>
            </tr>
            <tr>
                <td class="make"><a href="https://tuchong.com/lens/canon/">Canon</a></td>
                <td class="model"><a href="https://tuchong.com/lens/canon-ef-50mm-f-1.4-usm/">Canon EF 50mm f/1.4 USM</a></td>
                <td><a href="https://tuchong.com/lens/canon-ef-50mm-f-1.4-usm/">401810</a></td>
                <td><a href="https://tuchong.com/lens/canon-ef-50mm-f-1.4-usm/">13862</a></td>
            </tr>
            <tr>
                <td class="make"><a href="https://tuchong.com/lens/canon/">Canon</a></td>
                <td class="model"><a href="https://tuchong.com/lens/canon-ef-24-105mm-f-4l-is-usm/">Canon EF 24-105mm f/4L IS USM</a></td>
                <td><a href="https://tuchong.com/lens/canon-ef-24-105mm-f-4l-is-usm/">400112</a></td>
                <td><a href="https://tuchong.com/lens/canon-ef-24-105mm-f-4l-is-usm/">13236</a></td>
            </tr>
            <tr>
                <td class="make"><a href="https://tuchong.com/lens/unknown/">unknown</a></td>
                <td class="model"><a href="https://tuchong.com/lens/7785/">Sigma 35mm f/1.4 DG HSM</a></td>
                <td><a href="https://tuchong.com/lens/7785/">290447</a></td>
                <td><a href="https://tuchong.com/lens/7785/">10235</a></td>
            </tr>
            <tr>
                <td class="make"><a href="https://tuchong.com/lens/unknown/">unknown</a></td>
                <td class="model"><a href="https://tuchong.com/lens/12419/">iPhone 6s back camera 4.15mm f/2.2</a></td>
                <td><a href="https://tuchong.com/lens/12419/">120996</a></td>
                <td><a href="https://tuchong.com/lens/12419/">9976</a></td>
            </tr>
            <tr>
                <td class="make"><a href="https://tuchong.com/lens/canon/">Canon</a></td>
                <td class="model"><a href="https://tuchong.com/lens/canon-ef-70-200mm-f-2.8l-is-ii-usm/">Canon EF 70-200mm f/2.8L IS II USM</a></td>
                <td><a href="https://tuchong.com/lens/canon-ef-70-200mm-f-2.8l-is-ii-usm/">228545</a></td>
                <td><a href="https://tuchong.com/lens/canon-ef-70-200mm-f-2.8l-is-ii-usm/">9917</a></td>
            </tr>
            <tr>
                <td class="make"><a href="https://tuchong.com/lens/unknown/">unknown</a></td>
                <td class="model"><a href="https://tuchong.com/lens/10664/">iPhone 6 back camera 4.15mm f/2.2</a></td>
                <td><a href="https://tuchong.com/lens/10664/">129330</a></td>
                <td><a href="https://tuchong.com/lens/10664/">8222</a></td>
            </tr>
            <tr>
                <td class="make"><a href="https://tuchong.com/lens/canon/">Canon</a></td>
                <td class="model"><a href="https://tuchong.com/lens/canon-ef-s-18-135mm-f-3.5-5.6-is-stm/">Canon EF-S 18-135mm f/3.5-5.6 IS STM</a></td>
                <td><a href="https://tuchong.com/lens/canon-ef-s-18-135mm-f-3.5-5.6-is-stm/">186464</a></td>
                <td><a href="https://tuchong.com/lens/canon-ef-s-18-135mm-f-3.5-5.6-is-stm/">8075</a></td>
            </tr>
            <tr>
                <td class="make"><a href="https://tuchong.com/lens/unknown/">unknown</a></td>
                <td class="model"><a href="https://tuchong.com/lens/17042/">iPhone 7 Plus back dual camera 3.99mm f/1.8</a></td>
                <td><a href="https://tuchong.com/lens/17042/">56865</a></td>
                <td><a href="https://tuchong.com/lens/17042/">7902</a></td>
            </tr>
            <tr>
                <td class="make"><a href="https://tuchong.com/lens/nikon/">Nikon</a></td>
                <td class="model"><a href="https://tuchong.com/lens/af-s-zoom-nikkor-24-70mm-f-2.8g-ed/">AF-S Zoom-Nikkor 24-70mm f/2.8G ED</a></td>
                <td><a href="https://tuchong.com/lens/af-s-zoom-nikkor-24-70mm-f-2.8g-ed/">237518</a></td>
                <td><a href="https://tuchong.com/lens/af-s-zoom-nikkor-24-70mm-f-2.8g-ed/">7429</a></td>
            </tr>
            <tr>
                <td class="make"><a href="https://tuchong.com/lens/unknown/">unknown</a></td>
                <td class="model"><a href="https://tuchong.com/lens/16086/">iPhone 7 back camera 3.99mm f/1.8</a></td>
                <td><a href="https://tuchong.com/lens/16086/">56982</a></td>
                <td><a href="https://tuchong.com/lens/16086/">7407</a></td>
            </tr>
            <tr>
                <td class="make"><a href="https://tuchong.com/lens/unknown/">unknown</a></td>
                <td class="model"><a href="https://tuchong.com/lens/12404/">iPhone 6s Plus back camera 4.15mm f/2.2</a></td>
                <td><a href="https://tuchong.com/lens/12404/">81050</a></td>
                <td><a href="https://tuchong.com/lens/12404/">6372</a></td>
            </tr>
            <tr>
                <td class="make"><a href="https://tuchong.com/lens/unknown/">unknown</a></td>
                <td class="model"><a href="https://tuchong.com/lens/10737/">iPhone 6 Plus back camera 4.15mm f/2.2</a></td>
                <td><a href="https://tuchong.com/lens/10737/">80138</a></td>
                <td><a href="https://tuchong.com/lens/10737/">4936</a></td>
            </tr>
            <tr>
                <td class="make"><a href="https://tuchong.com/lens/canon/">Canon</a></td>
                <td class="model"><a href="https://tuchong.com/lens/canon-ef-16-35mm-f-2.8l-ii-usm/">Canon EF 16-35mm f/2.8L II USM</a></td>
                <td><a href="https://tuchong.com/lens/canon-ef-16-35mm-f-2.8l-ii-usm/">167596</a></td>
                <td><a href="https://tuchong.com/lens/canon-ef-16-35mm-f-2.8l-ii-usm/">4831</a></td>
            </tr>
            <tr>
                <td class="make"><a href="https://tuchong.com/lens/unknown/">unknown</a></td>
                <td class="model"><a href="https://tuchong.com/lens/3228/">----</a></td>
                <td><a href="https://tuchong.com/lens/3228/">109569</a></td>
                <td><a href="https://tuchong.com/lens/3228/">4732</a></td>
            </tr>
            <tr>
                <td class="make"><a href="https://tuchong.com/lens/unknown/">unknown</a></td>
                <td class="model"><a href="https://tuchong.com/lens/9565/">Sigma 35mm F1.4 DG HSM</a></td>
                <td><a href="https://tuchong.com/lens/9565/">130040</a></td>
                <td><a href="https://tuchong.com/lens/9565/">4449</a></td>
            </tr>
            <tr>
                <td class="make"><a href="https://tuchong.com/lens/unknown/">unknown</a></td>
                <td class="model"><a href="https://tuchong.com/lens/8946/">FE 55mm F1.8 ZA</a></td>
                <td><a href="https://tuchong.com/lens/8946/">92764</a></td>
                <td><a href="https://tuchong.com/lens/8946/">4367</a></td>
            </tr>
            <tr>
                <td class="make"><a href="https://tuchong.com/lens/canon/">Canon</a></td>
                <td class="model"><a href="https://tuchong.com/lens/canon-ef-17-40mm-f-4l-usm/">Canon EF 17-40mm f/4L USM</a></td>
                <td><a href="https://tuchong.com/lens/canon-ef-17-40mm-f-4l-usm/">174620</a></td>
                <td><a href="https://tuchong.com/lens/canon-ef-17-40mm-f-4l-usm/">4262</a></td>
            </tr>
            <tr>
                <td class="make"><a href="https://tuchong.com/lens/canon/">Canon</a></td>
                <td class="model"><a href="https://tuchong.com/lens/canon-ef-50mm-f-1.2l-usm/">Canon EF 50mm f/1.2L USM</a></td>
                <td><a href="https://tuchong.com/lens/canon-ef-50mm-f-1.2l-usm/">114994</a></td>
                <td><a href="https://tuchong.com/lens/canon-ef-50mm-f-1.2l-usm/">4161</a></td>
            </tr>
            <tr>
                <td class="make"><a href="https://tuchong.com/lens/canon/">Canon</a></td>
                <td class="model"><a href="https://tuchong.com/lens/canon-ef-24-70mm-f-2.8l-usm/">Canon EF 24-70mm f/2.8L USM</a></td>
                <td><a href="https://tuchong.com/lens/canon-ef-24-70mm-f-2.8l-usm/">177252</a></td>
                <td><a href="https://tuchong.com/lens/canon-ef-24-70mm-f-2.8l-usm/">3803</a></td>
            </tr>
            <tr>
                <td class="make"><a href="https://tuchong.com/lens/canon/">Canon</a></td>
                <td class="model"><a href="https://tuchong.com/lens/canon-ef-50mm-f-1.8-ii/">Canon EF 50mm f/1.8 II</a></td>
                <td><a href="https://tuchong.com/lens/canon-ef-50mm-f-1.8-ii/">280848</a></td>
                <td><a href="https://tuchong.com/lens/canon-ef-50mm-f-1.8-ii/">3659</a></td>
            </tr>
            <tr>
                <td class="make"><a href="https://tuchong.com/lens/nikon/">Nikon</a></td>
                <td class="model"><a href="https://tuchong.com/lens/af-s-nikkor-50mm-f-1.8g/">AF-S Nikkor 50mm f/1.8G</a></td>
                <td><a href="https://tuchong.com/lens/af-s-nikkor-50mm-f-1.8g/">97928</a></td>
                <td><a href="https://tuchong.com/lens/af-s-nikkor-50mm-f-1.8g/">3655</a></td>
            </tr>
            <tr>
                <td class="make"><a href="https://tuchong.com/lens/unknown/">unknown</a></td>
                <td class="model"><a href="https://tuchong.com/lens/6520/">E PZ 16-50mm F3.5-5.6 OSS</a></td>
                <td><a href="https://tuchong.com/lens/6520/">54506</a></td>
                <td><a href="https://tuchong.com/lens/6520/">3644</a></td>
            </tr>
            <tr>
                <td class="make"><a href="https://tuchong.com/lens/nikon/">Nikon</a></td>
                <td class="model"><a href="https://tuchong.com/lens/af-s-dx-vr-zoom-nikkor-18-105mm-f-3.5-5.6g-ed/">AF-S DX VR Zoom-Nikkor 18-105mm f/3.5-5.6G ED</a></td>
                <td><a href="https://tuchong.com/lens/af-s-dx-vr-zoom-nikkor-18-105mm-f-3.5-5.6g-ed/">257493</a></td>
                <td><a href="https://tuchong.com/lens/af-s-dx-vr-zoom-nikkor-18-105mm-f-3.5-5.6g-ed/">3581</a></td>
            </tr>
            <tr>
                <td class="make"><a href="https://tuchong.com/lens/canon/">Canon</a></td>
                <td class="model"><a href="https://tuchong.com/lens/canon-ef-s-18-200mm-f-3.5-5.6-is/">Canon EF-S 18-200mm f/3.5-5.6 IS</a></td>
                <td><a href="https://tuchong.com/lens/canon-ef-s-18-200mm-f-3.5-5.6-is/">80239</a></td>
                <td><a href="https://tuchong.com/lens/canon-ef-s-18-200mm-f-3.5-5.6-is/">3493</a></td>
            </tr>
            <tr>
                <td class="make"><a href="https://tuchong.com/lens/canon/">Canon</a></td>
                <td class="model"><a href="https://tuchong.com/lens/canon-ef-24-70mm-f-4l-is-usm/">Canon EF 24-70mm f/4L IS USM</a></td>
                <td><a href="https://tuchong.com/lens/canon-ef-24-70mm-f-4l-is-usm/">62874</a></td>
                <td><a href="https://tuchong.com/lens/canon-ef-24-70mm-f-4l-is-usm/">3489</a></td>
            </tr>
            <tr>
                <td class="make"><a href="https://tuchong.com/lens/unknown/">unknown</a></td>
                <td class="model"><a href="https://tuchong.com/lens/9079/">AF-S DX Nikkor 18-140mm f/3.5-5.6G ED VR</a></td>
                <td><a href="https://tuchong.com/lens/9079/">72853</a></td>
                <td><a href="https://tuchong.com/lens/9079/">3431</a></td>
            </tr>
            <tr>
                <td class="make"><a href="https://tuchong.com/lens/canon/">Canon</a></td>
                <td class="model"><a href="https://tuchong.com/lens/canon-ef-s-18-135mm-f-3.5-5.6-is/">Canon EF-S 18-135mm f/3.5-5.6 IS</a></td>
                <td><a href="https://tuchong.com/lens/canon-ef-s-18-135mm-f-3.5-5.6-is/">180290</a></td>
                <td><a href="https://tuchong.com/lens/canon-ef-s-18-135mm-f-3.5-5.6-is/">3413</a></td>
            </tr>
            <tr>
                <td class="make"><a href="https://tuchong.com/lens/canon/">Canon</a></td>
                <td class="model"><a href="https://tuchong.com/lens/canon-ef-85mm-f-1.8-usm/">Canon EF 85mm f/1.8 USM</a></td>
                <td><a href="https://tuchong.com/lens/canon-ef-85mm-f-1.8-usm/">94321</a></td>
                <td><a href="https://tuchong.com/lens/canon-ef-85mm-f-1.8-usm/">3314</a></td>
            </tr>
            <tr>
                <td class="make"><a href="https://tuchong.com/lens/nikon/">Nikon</a></td>
                <td class="model"><a href="https://tuchong.com/lens/af-nikkor-50mm-f-1.8d/">AF Nikkor 50mm f/1.8D</a></td>
                <td><a href="https://tuchong.com/lens/af-nikkor-50mm-f-1.8d/">138882</a></td>
                <td><a href="https://tuchong.com/lens/af-nikkor-50mm-f-1.8d/">3222</a></td>
            </tr>
            <tr>
                <td class="make"><a href="https://tuchong.com/lens/unknown/">unknown</a></td>
                <td class="model"><a href="https://tuchong.com/lens/21489/">iPhone X back dual camera 4mm f/1.8</a></td>
                <td><a href="https://tuchong.com/lens/21489/">4212</a></td>
                <td><a href="https://tuchong.com/lens/21489/">3203</a></td>
            </tr>
            <tr>
                <td class="make"><a href="https://tuchong.com/lens/canon/">Canon</a></td>
                <td class="model"><a href="https://tuchong.com/lens/canon-ef-85mm-f-1.2l-ii-usm/">Canon EF 85mm f/1.2L II USM</a></td>
                <td><a href="https://tuchong.com/lens/canon-ef-85mm-f-1.2l-ii-usm/">79657</a></td>
                <td><a href="https://tuchong.com/lens/canon-ef-85mm-f-1.2l-ii-usm/">3151</a></td>
            </tr>
            <tr>
                <td class="make"><a href="https://tuchong.com/lens/canon/">Canon</a></td>
                <td class="model"><a href="https://tuchong.com/lens/canon-ef-s-18-55mm-f-3.5-5.6-is-stm/">Canon EF-S 18-55mm f/3.5-5.6 IS STM</a></td>
                <td><a href="https://tuchong.com/lens/canon-ef-s-18-55mm-f-3.5-5.6-is-stm/">64745</a></td>
                <td><a href="https://tuchong.com/lens/canon-ef-s-18-55mm-f-3.5-5.6-is-stm/">3107</a></td>
            </tr>
            <tr>
                <td class="make"><a href="https://tuchong.com/lens/unknown/">unknown</a></td>
                <td class="model"><a href="https://tuchong.com/lens/16786/">iPhone 7 Plus back dual camera 6.6mm f/2.8</a></td>
                <td><a href="https://tuchong.com/lens/16786/">22756</a></td>
                <td><a href="https://tuchong.com/lens/16786/">3098</a></td>
            </tr>
            <tr>
                <td class="make"><a href="https://tuchong.com/lens/unknown/">unknown</a></td>
                <td class="model"><a href="https://tuchong.com/lens/7991/">GR LENS</a></td>
                <td><a href="https://tuchong.com/lens/7991/">70727</a></td>
                <td><a href="https://tuchong.com/lens/7991/">2972</a></td>
            </tr>
            <tr>
                <td class="make"><a href="https://tuchong.com/lens/unknown/">unknown</a></td>
                <td class="model"><a href="https://tuchong.com/lens/13933/">Canon EF-S 18-135mm f/3.5-5.6 IS USM</a></td>
                <td><a href="https://tuchong.com/lens/13933/">26417</a></td>
                <td><a href="https://tuchong.com/lens/13933/">2946</a></td>
            </tr>
            <tr>
                <td class="make"><a href="https://tuchong.com/lens/nikon/">Nikon</a></td>
                <td class="model"><a href="https://tuchong.com/lens/af-s-nikkor-24-120mm-f-4g-ed-vr/">AF-S Nikkor 24-120mm f/4G ED VR</a></td>
                <td><a href="https://tuchong.com/lens/af-s-nikkor-24-120mm-f-4g-ed-vr/">75890</a></td>
                <td><a href="https://tuchong.com/lens/af-s-nikkor-24-120mm-f-4g-ed-vr/">2834</a></td>
            </tr>
            <tr>
                <td class="make"><a href="https://tuchong.com/lens/unknown/">unknown</a></td>
                <td class="model"><a href="https://tuchong.com/lens/14739/">Sigma 50mm f/1.4 DG HSM | A or Zeiss Milvus 50mm f/1.4</a></td>
                <td><a href="https://tuchong.com/lens/14739/">48903</a></td>
                <td><a href="https://tuchong.com/lens/14739/">2825</a></td>
            </tr>
            <tr>
                <td class="make"><a href="https://tuchong.com/lens/canon/">Canon</a></td>
                <td class="model"><a href="https://tuchong.com/lens/canon-ef-100mm-f-2.8l-macro-is-usm/">Canon EF 100mm f/2.8L Macro IS USM</a></td>
                <td><a href="https://tuchong.com/lens/canon-ef-100mm-f-2.8l-macro-is-usm/">70684</a></td>
                <td><a href="https://tuchong.com/lens/canon-ef-100mm-f-2.8l-macro-is-usm/">2778</a></td>
            </tr>
            <tr>
                <td class="make"><a href="https://tuchong.com/lens/nikon/">Nikon</a></td>
                <td class="model"><a href="https://tuchong.com/lens/af-s-nikkor-70-200mm-f-2.8g-ed-vr-ii/">AF-S Nikkor 70-200mm f/2.8G ED VR II</a></td>
                <td><a href="https://tuchong.com/lens/af-s-nikkor-70-200mm-f-2.8g-ed-vr-ii/">92937</a></td>
                <td><a href="https://tuchong.com/lens/af-s-nikkor-70-200mm-f-2.8g-ed-vr-ii/">2776</a></td>
            </tr>
            <tr>
                <td class="make"><a href="https://tuchong.com/lens/nikon/">Nikon</a></td>
                <td class="model"><a href="https://tuchong.com/lens/af-s-dx-nikkor-35mm-f-1.8g/">AF-S DX Nikkor 35mm f/1.8G</a></td>
                <td><a href="https://tuchong.com/lens/af-s-dx-nikkor-35mm-f-1.8g/">127550</a></td>
                <td><a href="https://tuchong.com/lens/af-s-dx-nikkor-35mm-f-1.8g/">2492</a></td>
            </tr>
            <tr>
                <td class="make"><a href="https://tuchong.com/lens/unknown/">unknown</a></td>
                <td class="model"><a href="https://tuchong.com/lens/10439/">iPhone 5s back camera 4.15mm f/2.2</a></td>
                <td><a href="https://tuchong.com/lens/10439/">53807</a></td>
                <td><a href="https://tuchong.com/lens/10439/">2446</a></td>
            </tr>
            <tr>
                <td class="make"><a href="https://tuchong.com/lens/nikon/">Nikon</a></td>
                <td class="model"><a href="https://tuchong.com/lens/af-s-zoom-nikkor-14-24mm-f-2.8g-ed/">AF-S Zoom-Nikkor 14-24mm f/2.8G ED</a></td>
                <td><a href="https://tuchong.com/lens/af-s-zoom-nikkor-14-24mm-f-2.8g-ed/">88613</a></td>
                <td><a href="https://tuchong.com/lens/af-s-zoom-nikkor-14-24mm-f-2.8g-ed/">2385</a></td>
            </tr>
            <tr>
                <td class="make"><a href="https://tuchong.com/lens/unknown/">unknown</a></td>
                <td class="model"><a href="https://tuchong.com/lens/12368/">Canon EF 35mm f/1.4L II USM</a></td>
                <td><a href="https://tuchong.com/lens/12368/">47159</a></td>
                <td><a href="https://tuchong.com/lens/12368/">2380</a></td>
            </tr>
            <tr>
                <td class="make"><a href="https://tuchong.com/lens/unknown/">unknown</a></td>
                <td class="model"><a href="https://tuchong.com/lens/13796/">iPhone SE back camera 4.15mm f/2.2</a></td>
                <td><a href="https://tuchong.com/lens/13796/">25011</a></td>
                <td><a href="https://tuchong.com/lens/13796/">2318</a></td>
            </tr>
            <tr>
                <td class="make"><a href="https://tuchong.com/lens/canon/">Canon</a></td>
                <td class="model"><a href="https://tuchong.com/lens/canon-ef-35mm-f-1.4l-usm/">Canon EF 35mm f/1.4L USM</a></td>
                <td><a href="https://tuchong.com/lens/canon-ef-35mm-f-1.4l-usm/">135866</a></td>
                <td><a href="https://tuchong.com/lens/canon-ef-35mm-f-1.4l-usm/">2316</a></td>
            </tr>
            <tr>
                <td class="make"><a href="https://tuchong.com/lens/unknown/">unknown</a></td>
                <td class="model"><a href="https://tuchong.com/lens/20907/">iPhone 8 Plus back dual camera 3.99mm f/1.8</a></td>
                <td><a href="https://tuchong.com/lens/20907/">4911</a></td>
                <td><a href="https://tuchong.com/lens/20907/">2239</a></td>
            </tr>
            <tr>
                <td class="make"><a href="https://tuchong.com/lens/unknown/">unknown</a></td>
                <td class="model"><a href="https://tuchong.com/lens/10322/">Canon EF 16-35mm f/4L IS USM</a></td>
                <td><a href="https://tuchong.com/lens/10322/">53648</a></td>
                <td><a href="https://tuchong.com/lens/10322/">2221</a></td>
            </tr>
            <tr>
                <td class="make"><a href="https://tuchong.com/lens/unknown/">unknown</a></td>
                <td class="model"><a href="https://tuchong.com/lens/17208/">Canon EF 24-105mm f/4L IS II USM</a></td>
                <td><a href="https://tuchong.com/lens/17208/">10240</a></td>
                <td><a href="https://tuchong.com/lens/17208/">2142</a></td>
            </tr>
            </tbody>
        </table>
    </main>
</div>
<%include footer.ejs%>

</body>

</html>