<!DOCTYPE html>
<html >

<head>
    <meta charset="utf-8">
    <title>器材 - 手机</title>
    <link rel="stylesheet" href="css/new.css" />
    <link rel="stylesheet" href="css/equipmentDetail.css"/>
    <script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
</head>

<body>
<%include header.ejs%>
<nav class="secondary-nav">
    <ul class="nav-list">
        <li class="" data-index="0">
            <a target="_self" href="/equipmentDetail">首页</a>
        </li>
        <li class="" data-index="1">
            <a target="_self" href="/equipmentDetailCameraBody">机身</a>
        </li>
        <li class="" data-index="2">
            <a target="_self" href="/equipmentDetailCamera">相机</a>
        </li>
        <li class="" data-index="3">
            <a target="_self" href="/equipmentDetailLen">镜头</a>
        </li>
        <li class="active" data-index="4">
            <a target="_self" href="/equipmentDetailPhone">手机</a>
        </li>
    </ul>
</nav>
<div class="container">
    <main role="main" class="col-main col-xs-12">
            <h2>手机</h2>
            <table class="table table-style table-striped">
                <thead>
                <tr>
                    <td class="make">&#x54C1;&#x724C;</td>
                    <td class="model">&#x578B;&#x53F7;</td>
                    <td>&#x6837;&#x5F20;&#x6570;</td>
                    <td>&#x672C;&#x6708;&#x65B0;&#x589E;</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="make"><a href="https://tuchong.com/phone/apple/">Apple</a></td>
                    <td class="model"><a href="https://tuchong.com/phone/apple-iphone-7-plus/">iPhone 7 Plus</a></td>
                    <td><a href="https://tuchong.com/phone/apple-iphone-7-plus/">93827</a></td>
                    <td><a href="https://tuchong.com/phone/apple-iphone-7-plus/">12472</a></td>
                </tr>
                <tr>
                    <td class="make"><a href="https://tuchong.com/phone/apple/">Apple</a></td>
                    <td class="model"><a href="https://tuchong.com/phone/apple-iphone-6s/">iPhone 6s</a></td>
                    <td><a href="https://tuchong.com/phone/apple-iphone-6s/">122222</a></td>
                    <td><a href="https://tuchong.com/phone/apple-iphone-6s/">10017</a></td>
                </tr>
                <tr>
                    <td class="make"><a href="https://tuchong.com/phone/huawei/">HUAWEI</a></td>
                    <td class="model"><a href="https://tuchong.com/phone/HUAWEI Mate9 LEICA DUAL CAMERA/">HUAWEI Mate9 LEICA DUAL CAMERA</a></td>
                    <td><a href="https://tuchong.com/phone/HUAWEI Mate9 LEICA DUAL CAMERA/">53149</a></td>
                    <td><a href="https://tuchong.com/phone/HUAWEI Mate9 LEICA DUAL CAMERA/">8906</a></td>
                </tr>
                <tr>
                    <td class="make"><a href="https://tuchong.com/phone/apple/">Apple</a></td>
                    <td class="model"><a href="https://tuchong.com/phone/apple-iphone-6/">iPhone 6</a></td>
                    <td><a href="https://tuchong.com/phone/apple-iphone-6/">131977</a></td>
                    <td><a href="https://tuchong.com/phone/apple-iphone-6/">8395</a></td>
                </tr>
                <tr>
                    <td class="make"><a href="https://tuchong.com/phone/apple/">Apple</a></td>
                    <td class="model"><a href="https://tuchong.com/phone/apple-iphone-7/">iPhone 7</a></td>
                    <td><a href="https://tuchong.com/phone/apple-iphone-7/">57521</a></td>
                    <td><a href="https://tuchong.com/phone/apple-iphone-7/">7375</a></td>
                </tr>
                <tr>
                    <td class="make"><a href="https://tuchong.com/phone/apple/">Apple</a></td>
                    <td class="model"><a href="https://tuchong.com/phone/apple-iphone-6s-plus/">iPhone 6s Plus</a></td>
                    <td><a href="https://tuchong.com/phone/apple-iphone-6s-plus/">81749</a></td>
                    <td><a href="https://tuchong.com/phone/apple-iphone-6s-plus/">6395</a></td>
                </tr>
                <tr>
                    <td class="make"><a href="https://tuchong.com/phone/apple/">Apple</a></td>
                    <td class="model"><a href="https://tuchong.com/phone/apple-iphone-x/">iPhone X</a></td>
                    <td><a href="https://tuchong.com/phone/apple-iphone-x/">6661</a></td>
                    <td><a href="https://tuchong.com/phone/apple-iphone-x/">5014</a></td>
                </tr>
                <tr>
                    <td class="make"><a href="https://tuchong.com/phone/apple/">Apple</a></td>
                    <td class="model"><a href="https://tuchong.com/phone/apple-iphone-6-plus/">iPhone 6 Plus</a></td>
                    <td><a href="https://tuchong.com/phone/apple-iphone-6-plus/">81410</a></td>
                    <td><a href="https://tuchong.com/phone/apple-iphone-6-plus/">4986</a></td>
                </tr>
                <tr>
                    <td class="make"><a href="https://tuchong.com/phone/apple/">Apple</a></td>
                    <td class="model"><a href="https://tuchong.com/phone/apple-iphone-8-plus/">iPhone 8 Plus</a></td>
                    <td><a href="https://tuchong.com/phone/apple-iphone-8-plus/">7540</a></td>
                    <td><a href="https://tuchong.com/phone/apple-iphone-8-plus/">3527</a></td>
                </tr>
                <tr>
                    <td class="make"><a href="https://tuchong.com/phone/huawei/">HUAWEI</a></td>
                    <td class="model"><a href="https://tuchong.com/phone/huawei-vky-al00/">P10 Plus</a></td>
                    <td><a href="https://tuchong.com/phone/huawei-vky-al00/">13607</a></td>
                    <td><a href="https://tuchong.com/phone/huawei-vky-al00/">2943</a></td>
                </tr>
                <tr>
                    <td class="make"><a href="https://tuchong.com/phone/apple/">Apple</a></td>
                    <td class="model"><a href="https://tuchong.com/phone/apple-iphone/">iPhone</a></td>
                    <td><a href="https://tuchong.com/phone/apple-iphone/">41945</a></td>
                    <td><a href="https://tuchong.com/phone/apple-iphone/">2896</a></td>
                </tr>
                <tr>
                    <td class="make"><a href="https://tuchong.com/phone/huawei/">HUAWEI</a></td>
                    <td class="model"><a href="https://tuchong.com/phone/huawei-p9-leica-dual-camera/">P9 LEICA DUAL CAMERA</a></td>
                    <td><a href="https://tuchong.com/phone/huawei-p9-leica-dual-camera/">33594</a></td>
                    <td><a href="https://tuchong.com/phone/huawei-p9-leica-dual-camera/">2792</a></td>
                </tr>
                <tr>
                    <td class="make"><a href="https://tuchong.com/phone/apple/">Apple</a></td>
                    <td class="model"><a href="https://tuchong.com/phone/apple-iphone-5s/">iPhone 5s</a></td>
                    <td><a href="https://tuchong.com/phone/apple-iphone-5s/">63051</a></td>
                    <td><a href="https://tuchong.com/phone/apple-iphone-5s/">2575</a></td>
                </tr>
                <tr>
                    <td class="make"><a href="https://tuchong.com/phone/apple/">Apple</a></td>
                    <td class="model"><a href="https://tuchong.com/phone/apple-iphone-se/">iPhone SE</a></td>
                    <td><a href="https://tuchong.com/phone/apple-iphone-se/">25027</a></td>
                    <td><a href="https://tuchong.com/phone/apple-iphone-se/">2292</a></td>
                </tr>
                <tr>
                    <td class="make"><a href="https://tuchong.com/phone/huawei/">HUAWEI</a></td>
                    <td class="model"><a href="https://tuchong.com/phone/huwei honer 8/">HUAWEI Honer 8</a></td>
                    <td><a href="https://tuchong.com/phone/huwei honer 8/">7394</a></td>
                    <td><a href="https://tuchong.com/phone/huwei honer 8/">1250</a></td>
                </tr>
                <tr>
                    <td class="make"><a href="https://tuchong.com/phone/oppo/">OPPO</a></td>
                    <td class="model"><a href="https://tuchong.com/phone/oppo-r9s/">R9s</a></td>
                    <td><a href="https://tuchong.com/phone/oppo-r9s/">9854</a></td>
                    <td><a href="https://tuchong.com/phone/oppo-r9s/">1222</a></td>
                </tr>
                <tr>
                    <td class="make"><a href="https://tuchong.com/phone/huawei/">HUAWEI</a></td>
                    <td class="model"><a href="https://tuchong.com/phone/huawei-lon-al00/">LON-AL00</a></td>
                    <td><a href="https://tuchong.com/phone/huawei-lon-al00/">7018</a></td>
                    <td><a href="https://tuchong.com/phone/huawei-lon-al00/">1141</a></td>
                </tr>
                <tr>
                    <td class="make"><a href="https://tuchong.com/phone/huawei/">HUAWEI</a></td>
                    <td class="model"><a href="https://tuchong.com/phone/huawei-6X/">6X</a></td>
                    <td><a href="https://tuchong.com/phone/huawei-6X/">10045</a></td>
                    <td><a href="https://tuchong.com/phone/huawei-6X/">1138</a></td>
                </tr>
                <tr>
                    <td class="make"><a href="https://tuchong.com/phone/vivo/">vivo</a></td>
                    <td class="model"><a href="https://tuchong.com/phone/vivo-x9/">X9</a></td>
                    <td><a href="https://tuchong.com/phone/vivo-x9/">6491</a></td>
                    <td><a href="https://tuchong.com/phone/vivo-x9/">891</a></td>
                </tr>
                <tr>
                    <td class="make"><a href="https://tuchong.com/phone/samsung/">samsung</a></td>
                    <td class="model"><a href="https://tuchong.com/phone/samsung-s7edge/">SM-G9350</a></td>
                    <td><a href="https://tuchong.com/phone/samsung-s7edge/">9783</a></td>
                    <td><a href="https://tuchong.com/phone/samsung-s7edge/">873</a></td>
                </tr>
                <tr>
                    <td class="make"><a href="https://tuchong.com/phone/huawei/">HUAWEI</a></td>
                    <td class="model"><a href="https://tuchong.com/phone/huawei m5/">MLA 5</a></td>
                    <td><a href="https://tuchong.com/phone/huawei m5/">3393</a></td>
                    <td><a href="https://tuchong.com/phone/huawei m5/">798</a></td>
                </tr>
                <tr>
                    <td class="make"><a href="https://tuchong.com/phone/apple/">Apple</a></td>
                    <td class="model"><a href="https://tuchong.com/phone/apple-iphone-5/">iPhone 5</a></td>
                    <td><a href="https://tuchong.com/phone/apple-iphone-5/">21999</a></td>
                    <td><a href="https://tuchong.com/phone/apple-iphone-5/">784</a></td>
                </tr>
                <tr>
                    <td class="make"><a href="https://tuchong.com/phone/samsung/">samsung</a></td>
                    <td class="model"><a href="https://tuchong.com/phone/samsung-gt-i9300/">GT-I9300</a></td>
                    <td><a href="https://tuchong.com/phone/samsung-gt-i9300/">2232</a></td>
                    <td><a href="https://tuchong.com/phone/samsung-gt-i9300/">701</a></td>
                </tr>
                <tr>
                    <td class="make"><a href="https://tuchong.com/phone/xiaomi/">Xiaomi</a></td>
                    <td class="model"><a href="https://tuchong.com/phone/xiaomi-mi-5s/">MI 5S</a></td>
                    <td><a href="https://tuchong.com/phone/xiaomi-mi-5s/">7320</a></td>
                    <td><a href="https://tuchong.com/phone/xiaomi-mi-5s/">666</a></td>
                </tr>
                <tr>
                    <td class="make"><a href="https://tuchong.com/phone/xiaomi/">Xiaomi</a></td>
                    <td class="model"><a href="https://tuchong.com/phone/xiaomi-mi-5s-plus/">MI 5s Plus</a></td>
                    <td><a href="https://tuchong.com/phone/xiaomi-mi-5s-plus/">3704</a></td>
                    <td><a href="https://tuchong.com/phone/xiaomi-mi-5s-plus/">656</a></td>
                </tr>
                <tr>
                    <td class="make"><a href="https://tuchong.com/phone/nubia/">nubia</a></td>
                    <td class="model"><a href="https://tuchong.com/phone/nubia-z11-minis/">Z11 miniS</a></td>
                    <td><a href="https://tuchong.com/phone/nubia-z11-minis/">8126</a></td>
                    <td><a href="https://tuchong.com/phone/nubia-z11-minis/">563</a></td>
                </tr>
                <tr>
                    <td class="make"><a href="https://tuchong.com/phone/huawei/">HUAWEI</a></td>
                    <td class="model"><a href="https://tuchong.com/phone/huawei-mt7-cl00/">Mate 7</a></td>
                    <td><a href="https://tuchong.com/phone/huawei-mt7-cl00/">3444</a></td>
                    <td><a href="https://tuchong.com/phone/huawei-mt7-cl00/">557</a></td>
                </tr>
                <tr>
                    <td class="make"><a href="https://tuchong.com/phone/huawei/">HUAWEI</a></td>
                    <td class="model"><a href="https://tuchong.com/phone/10990/">C8817D</a></td>
                    <td><a href="https://tuchong.com/phone/10990/">1017</a></td>
                    <td><a href="https://tuchong.com/phone/10990/">539</a></td>
                </tr>
                <tr>
                    <td class="make"><a href="https://tuchong.com/phone/xiaomi/">Xiaomi</a></td>
                    <td class="model"><a href="https://tuchong.com/phone/xiaomi-redmi-note-4/">Redmi Note 4</a></td>
                    <td><a href="https://tuchong.com/phone/xiaomi-redmi-note-4/">4293</a></td>
                    <td><a href="https://tuchong.com/phone/xiaomi-redmi-note-4/">515</a></td>
                </tr>
                <tr>
                    <td class="make"><a href="https://tuchong.com/phone/huawei/">HUAWEI</a></td>
                    <td class="model"><a href="https://tuchong.com/phone/huawei-caz-al10/">CAZ-AL10</a></td>
                    <td><a href="https://tuchong.com/phone/huawei-caz-al10/">2992</a></td>
                    <td><a href="https://tuchong.com/phone/huawei-caz-al10/">488</a></td>
                </tr>
                <tr>
                    <td class="make"><a href="https://tuchong.com/phone/huawei/">HUAWEI</a></td>
                    <td class="model"><a href="https://tuchong.com/phone/12264/">PLK-AL10</a></td>
                    <td><a href="https://tuchong.com/phone/12264/">4935</a></td>
                    <td><a href="https://tuchong.com/phone/12264/">413</a></td>
                </tr>
                <tr>
                    <td class="make"><a href="https://tuchong.com/phone/huawei/">HUAWEI</a></td>
                    <td class="model"><a href="https://tuchong.com/phone/huawei-nem-al10/">HUAWEI 5C</a></td>
                    <td><a href="https://tuchong.com/phone/huawei-nem-al10/">2349</a></td>
                    <td><a href="https://tuchong.com/phone/huawei-nem-al10/">404</a></td>
                </tr>
                <tr>
                    <td class="make"><a href="https://tuchong.com/phone/apple/">Apple</a></td>
                    <td class="model"><a href="https://tuchong.com/phone/apple-ipad-mini/">iPad mini</a></td>
                    <td><a href="https://tuchong.com/phone/apple-ipad-mini/">1035</a></td>
                    <td><a href="https://tuchong.com/phone/apple-ipad-mini/">378</a></td>
                </tr>
                <tr>
                    <td class="make"><a href="https://tuchong.com/phone/huawei/">HUAWEI</a></td>
                    <td class="model"><a href="https://tuchong.com/phone/huawei-mate-s/">Mate S</a></td>
                    <td><a href="https://tuchong.com/phone/huawei-mate-s/">7560</a></td>
                    <td><a href="https://tuchong.com/phone/huawei-mate-s/">352</a></td>
                </tr>
                <tr>
                    <td class="make"><a href="https://tuchong.com/phone/huawei/">HUAWEI</a></td>
                    <td class="model"><a href="https://tuchong.com/phone/huawei honer v8/">huawei honer v8</a></td>
                    <td><a href="https://tuchong.com/phone/huawei honer v8/">2155</a></td>
                    <td><a href="https://tuchong.com/phone/huawei honer v8/">335</a></td>
                </tr>
                <tr>
                    <td class="make"><a href="https://tuchong.com/phone/huawei/">HUAWEI</a></td>
                    <td class="model"><a href="https://tuchong.com/phone/huawei-knt-al20/">KNT-AL20</a></td>
                    <td><a href="https://tuchong.com/phone/huawei-knt-al20/">3028</a></td>
                    <td><a href="https://tuchong.com/phone/huawei-knt-al20/">333</a></td>
                </tr>
                <tr>
                    <td class="make"><a href="https://tuchong.com/phone/huawei/">HUAWEI</a></td>
                    <td class="model"><a href="https://tuchong.com/phone/HUAWEI Mate 7/">Mate 7</a></td>
                    <td><a href="https://tuchong.com/phone/HUAWEI Mate 7/">4795</a></td>
                    <td><a href="https://tuchong.com/phone/HUAWEI Mate 7/">322</a></td>
                </tr>
                <tr>
                    <td class="make"><a href="https://tuchong.com/phone/nokia/">Nokia</a></td>
                    <td class="model"><a href="https://tuchong.com/phone/nokia-lumia-1020/">Lumia 1020</a></td>
                    <td><a href="https://tuchong.com/phone/nokia-lumia-1020/">2385</a></td>
                    <td><a href="https://tuchong.com/phone/nokia-lumia-1020/">318</a></td>
                </tr>
                <tr>
                    <td class="make"><a href="https://tuchong.com/phone/apple/">Apple</a></td>
                    <td class="model"><a href="https://tuchong.com/phone/apple-iphone-4s/">iPhone 4S</a></td>
                    <td><a href="https://tuchong.com/phone/apple-iphone-4s/">27570</a></td>
                    <td><a href="https://tuchong.com/phone/apple-iphone-4s/">310</a></td>
                </tr>
                <tr>
                    <td class="make"><a href="https://tuchong.com/phone/nubia/">nubia</a></td>
                    <td class="model"><a href="https://tuchong.com/phone/nubia-z11/">Z11</a></td>
                    <td><a href="https://tuchong.com/phone/nubia-z11/">7168</a></td>
                    <td><a href="https://tuchong.com/phone/nubia-z11/">295</a></td>
                </tr>
                <tr>
                    <td class="make"><a href="https://tuchong.com/phone/huawei/">HUAWEI</a></td>
                    <td class="model"><a href="https://tuchong.com/phone/12185/">PLK-TL01H</a></td>
                    <td><a href="https://tuchong.com/phone/12185/">3093</a></td>
                    <td><a href="https://tuchong.com/phone/12185/">290</a></td>
                </tr>
                <tr>
                    <td class="make"><a href="https://tuchong.com/phone/xiaomi/">XIAOMI</a></td>
                    <td class="model"><a href="https://tuchong.com/phone/xiaomi-mi4/">MI4</a></td>
                    <td><a href="https://tuchong.com/phone/xiaomi-mi4/">9329</a></td>
                    <td><a href="https://tuchong.com/phone/xiaomi-mi4/">269</a></td>
                </tr>
                <tr>
                    <td class="make"><a href="https://tuchong.com/phone/huawei/">HUAWEI</a></td>
                    <td class="model"><a href="https://tuchong.com/phone/12738/">RIO-AL00</a></td>
                    <td><a href="https://tuchong.com/phone/12738/">4525</a></td>
                    <td><a href="https://tuchong.com/phone/12738/">266</a></td>
                </tr>
                <tr>
                    <td class="make"><a href="https://tuchong.com/phone/huawei/">HUAWEI</a></td>
                    <td class="model"><a href="https://tuchong.com/phone/11381/">PE-TL10</a></td>
                    <td><a href="https://tuchong.com/phone/11381/">2997</a></td>
                    <td><a href="https://tuchong.com/phone/11381/">259</a></td>
                </tr>
                <tr>
                    <td class="make"><a href="https://tuchong.com/phone/huawei/">HUAWEI</a></td>
                    <td class="model"><a href="https://tuchong.com/phone/13182/">KIW-AL10</a></td>
                    <td><a href="https://tuchong.com/phone/13182/">1331</a></td>
                    <td><a href="https://tuchong.com/phone/13182/">259</a></td>
                </tr>
                <tr>
                    <td class="make"><a href="https://tuchong.com/phone/oppo/">OPPO</a></td>
                    <td class="model"><a href="https://tuchong.com/phone/oppo-r9s-plus/">R9s Plus</a></td>
                    <td><a href="https://tuchong.com/phone/oppo-r9s-plus/">2766</a></td>
                    <td><a href="https://tuchong.com/phone/oppo-r9s-plus/">249</a></td>
                </tr>
                <tr>
                    <td class="make"><a href="https://tuchong.com/phone/oneplus/">OnePlus</a></td>
                    <td class="model"><a href="https://tuchong.com/phone/oneplus-a3010/">A3010</a></td>
                    <td><a href="https://tuchong.com/phone/oneplus-a3010/">3274</a></td>
                    <td><a href="https://tuchong.com/phone/oneplus-a3010/">243</a></td>
                </tr>
                <tr>
                    <td class="make"><a href="https://tuchong.com/phone/xiaomi/">XIAOMI</a></td>
                    <td class="model"><a href="https://tuchong.com/phone/xiaomi-mi-note/">MI Note</a></td>
                    <td><a href="https://tuchong.com/phone/xiaomi-mi-note/">6134</a></td>
                    <td><a href="https://tuchong.com/phone/xiaomi-mi-note/">240</a></td>
                </tr>
                <tr>
                    <td class="make"><a href="https://tuchong.com/phone/apple/">Apple</a></td>
                    <td class="model"><a href="https://tuchong.com/phone/apple-ipad/">iPad</a></td>
                    <td><a href="https://tuchong.com/phone/apple-ipad/">3468</a></td>
                    <td><a href="https://tuchong.com/phone/apple-ipad/">238</a></td>
                </tr>
                <tr>
                    <td class="make"><a href="https://tuchong.com/phone/huawei/">HUAWEI</a></td>
                    <td class="model"><a href="https://tuchong.com/phone/huawei-p8/">P8</a></td>
                    <td><a href="https://tuchong.com/phone/huawei-p8/">2899</a></td>
                    <td><a href="https://tuchong.com/phone/huawei-p8/">203</a></td>
                </tr>
                </tbody>
            </table>
    </main>
</div>
<%include footer.ejs%>

</body>

</html>