<!DOCTYPE html>
<html >

<head>
    <meta charset="utf-8">
    <title>器材 - 机身</title>
    <link rel="stylesheet" href="css/new.css" />
    <link rel="stylesheet" href="css/equipmentDetail.css"/>
    <script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
</head>

<body>
<%include header.ejs%>
<nav class="secondary-nav">
    <ul class="nav-list">
        <li class="" data-index="0">
            <a target="_self" href="/equipmentDetail">首页</a>
        </li>
        <li class="active" data-index="1">
            <a target="_self" href="/equipmentDetailCameraBody">机身</a>
        </li>
        <li class="" data-index="2">
            <a target="_self" href="/equipmentDetailCamera">相机</a>
        </li>
        <li class="" data-index="3">
            <a target="_self" href="/equipmentDetailLen">镜头</a>
        </li>
        <li class="" data-index="4">
            <a target="_self" href="/equipmentDetailPhone">手机</a>
        </li>
    </ul>
</nav>
<div class="container" id="detail-container">
    <main role="main" class="col-main col-xs-12">
            <h2>机身</h2>
            <table class="table table-style table-striped">
                <thead>
                <tr>
                    <td class="make">&#x54C1;&#x724C;</td>
                    <td class="model">&#x578B;&#x53F7;</td>
                    <td>&#x6837;&#x5F20;&#x6570;</td>
                    <td>&#x672C;&#x6708;&#x65B0;&#x589E;</td>
                </tr>
                </thead>
                <tbody >
                <tr>
                    <td class="make"><a href="https://tuchong.com/body/canon/">Canon</a></td>
                    <td class="model"><a href="https://tuchong.com/body/canon-eos-5d-mark-iii/">EOS 5D Mark III</a></td>
                    <td><a href="https://tuchong.com/body/canon-eos-5d-mark-iii/">1482166</a></td>
                    <td><a href="https://tuchong.com/body/canon-eos-5d-mark-iii/">53545</a></td>
                </tr>
                <tr>
                    <td class="make"><a href="https://tuchong.com/body/canon/">Canon</a></td>
                    <td class="model"><a href="https://tuchong.com/body/canon-eos-6d/">EOS 6D</a></td>
                    <td><a href="https://tuchong.com/body/canon-eos-6d/">610891</a></td>
                    <td><a href="https://tuchong.com/body/canon-eos-6d/">44178</a></td>
                </tr>
                <tr>
                    <td class="make"><a href="https://tuchong.com/body/canon/">Canon</a></td>
                    <td class="model"><a href="https://tuchong.com/body/canon-eos-5d-mark-iv/">EOS 5D Mark IV</a></td>
                    <td><a href="https://tuchong.com/body/canon-eos-5d-mark-iv/">169432</a></td>
                    <td><a href="https://tuchong.com/body/canon-eos-5d-mark-iv/">20424</a></td>
                </tr>
                <tr>
                    <td class="make"><a href="https://tuchong.com/body/canon/">Canon</a></td>
                    <td class="model"><a href="https://tuchong.com/body/canon-eos-5d-mark-ii/">EOS 5D Mark II</a></td>
                    <td><a href="https://tuchong.com/body/canon-eos-5d-mark-ii/">844469</a></td>
                    <td><a href="https://tuchong.com/body/canon-eos-5d-mark-ii/">14915</a></td>
                </tr>
                <tr>
                    <td class="make"><a href="https://tuchong.com/body/canon/">Canon</a></td>
                    <td class="model"><a href="https://tuchong.com/body/canon-eos-70d/">EOS 70D</a></td>
                    <td><a href="https://tuchong.com/body/canon-eos-70d/">316639</a></td>
                    <td><a href="https://tuchong.com/body/canon-eos-70d/">12630</a></td>
                </tr>
                <tr>
                    <td class="make"><a href="https://tuchong.com/body/canon/">Canon</a></td>
                    <td class="model"><a href="https://tuchong.com/body/camera-canon-eos-80d/">EOS 80D</a></td>
                    <td><a href="https://tuchong.com/body/camera-canon-eos-80d/">106343</a></td>
                    <td><a href="https://tuchong.com/body/camera-canon-eos-80d/">11519</a></td>
                </tr>
                <tr>
                    <td class="make"><a href="https://tuchong.com/body/canon/">Canon</a></td>
                    <td class="model"><a href="https://tuchong.com/body/canon-eos-6d-mark-ii/">EOS 6D Mark II</a></td>
                    <td><a href="https://tuchong.com/body/canon-eos-6d-mark-ii/">27145</a></td>
                    <td><a href="https://tuchong.com/body/canon-eos-6d-mark-ii/">7072</a></td>
                </tr>
                <tr>
                    <td class="make"><a href="https://tuchong.com/body/canon/">Canon</a></td>
                    <td class="model"><a href="https://tuchong.com/body/canon-eos-60d/">EOS 60D</a></td>
                    <td><a href="https://tuchong.com/body/canon-eos-60d/">371959</a></td>
                    <td><a href="https://tuchong.com/body/canon-eos-60d/">6766</a></td>
                </tr>
                <tr>
                    <td class="make"><a href="https://tuchong.com/body/canon/">Canon</a></td>
                    <td class="model"><a href="https://tuchong.com/body/canon-eos-700d/">EOS 700D</a></td>
                    <td><a href="https://tuchong.com/body/canon-eos-700d/">180693</a></td>
                    <td><a href="https://tuchong.com/body/canon-eos-700d/">6422</a></td>
                </tr>
                <tr>
                    <td class="make"><a href="https://tuchong.com/body/canon/">Canon</a></td>
                    <td class="model"><a href="https://tuchong.com/body/canon-eos-750d/">EOS 750D</a></td>
                    <td><a href="https://tuchong.com/body/canon-eos-750d/">54707</a></td>
                    <td><a href="https://tuchong.com/body/canon-eos-750d/">4215</a></td>
                </tr>
                <tr>
                    <td class="make"><a href="https://tuchong.com/body/canon/">Canon</a></td>
                    <td class="model"><a href="https://tuchong.com/body/canon-eos-600d/">EOS 600D</a></td>
                    <td><a href="https://tuchong.com/body/canon-eos-600d/">243025</a></td>
                    <td><a href="https://tuchong.com/body/canon-eos-600d/">3788</a></td>
                </tr>
                <tr>
                    <td class="make"><a href="https://tuchong.com/body/canon/">Canon</a></td>
                    <td class="model"><a href="https://tuchong.com/body/canon-eos-1d-x/">EOS-1D X</a></td>
                    <td><a href="https://tuchong.com/body/canon-eos-1d-x/">82853</a></td>
                    <td><a href="https://tuchong.com/body/canon-eos-1d-x/">3306</a></td>
                </tr>
                <tr>
                    <td class="make"><a href="https://tuchong.com/body/canon/">Canon</a></td>
                    <td class="model"><a href="https://tuchong.com/body/canon-eos-7d/">EOS 7D</a></td>
                    <td><a href="https://tuchong.com/body/canon-eos-7d/">150851</a></td>
                    <td><a href="https://tuchong.com/body/canon-eos-7d/">3148</a></td>
                </tr>
                <tr>
                    <td class="make"><a href="https://tuchong.com/body/canon/">Canon</a></td>
                    <td class="model"><a href="https://tuchong.com/body/canon-eos-1d-x-mark-ii/">EOS-1D X Mark II</a></td>
                    <td><a href="https://tuchong.com/body/canon-eos-1d-x-mark-ii/">27897</a></td>
                    <td><a href="https://tuchong.com/body/canon-eos-1d-x-mark-ii/">2381</a></td>
                </tr>
                <tr>
                    <td class="make"><a href="https://tuchong.com/body/canon/">Canon</a></td>
                    <td class="model"><a href="https://tuchong.com/body/canon-eos-5ds-r/">EOS 5DS R</a></td>
                    <td><a href="https://tuchong.com/body/canon-eos-5ds-r/">38383</a></td>
                    <td><a href="https://tuchong.com/body/canon-eos-5ds-r/">2368</a></td>
                </tr>
                <tr>
                    <td class="make"><a href="https://tuchong.com/body/canon/">Canon</a></td>
                    <td class="model"><a href="https://tuchong.com/body/canon-eos-5ds/">EOS 5DS</a></td>
                    <td><a href="https://tuchong.com/body/canon-eos-5ds/">39629</a></td>
                    <td><a href="https://tuchong.com/body/canon-eos-5ds/">2033</a></td>
                </tr>
                <tr>
                    <td class="make"><a href="https://tuchong.com/body/canon/">Canon</a></td>
                    <td class="model"><a href="https://tuchong.com/body/canon-eos-550d/">EOS 550D</a></td>
                    <td><a href="https://tuchong.com/body/canon-eos-550d/">133073</a></td>
                    <td><a href="https://tuchong.com/body/canon-eos-550d/">1816</a></td>
                </tr>
                <tr>
                    <td class="make"><a href="https://tuchong.com/body/canon/">Canon</a></td>
                    <td class="model"><a href="https://tuchong.com/body/canon-eos-1300d/">EOS 1300D</a></td>
                    <td><a href="https://tuchong.com/body/canon-eos-1300d/">10936</a></td>
                    <td><a href="https://tuchong.com/body/canon-eos-1300d/">1332</a></td>
                </tr>
                <tr>
                    <td class="make"><a href="https://tuchong.com/body/canon/">Canon</a></td>
                    <td class="model"><a href="https://tuchong.com/body/canon-eos-50d/">EOS 50D</a></td>
                    <td><a href="https://tuchong.com/body/canon-eos-50d/">89163</a></td>
                    <td><a href="https://tuchong.com/body/canon-eos-50d/">918</a></td>
                </tr>
                <tr>
                    <td class="make"><a href="https://tuchong.com/body/canon/">Canon</a></td>
                    <td class="model"><a href="https://tuchong.com/body/canon-eos-100d/">EOS 100D</a></td>
                    <td><a href="https://tuchong.com/body/canon-eos-100d/">21066</a></td>
                    <td><a href="https://tuchong.com/body/canon-eos-100d/">916</a></td>
                </tr>
                <tr>
                    <td class="make"><a href="https://tuchong.com/body/canon/">Canon</a></td>
                    <td class="model"><a href="https://tuchong.com/body/canon-eos-650d/">EOS 650D</a></td>
                    <td><a href="https://tuchong.com/body/canon-eos-650d/">46496</a></td>
                    <td><a href="https://tuchong.com/body/canon-eos-650d/">900</a></td>
                </tr>
                <tr>
                    <td class="make"><a href="https://tuchong.com/body/canon/">Canon</a></td>
                    <td class="model"><a href="https://tuchong.com/body/canon-eos-5d/">EOS 5D</a></td>
                    <td><a href="https://tuchong.com/body/canon-eos-5d/">80626</a></td>
                    <td><a href="https://tuchong.com/body/canon-eos-5d/">810</a></td>
                </tr>
                <tr>
                    <td class="make"><a href="https://tuchong.com/body/canon/">Canon</a></td>
                    <td class="model"><a href="https://tuchong.com/body/canon-eos-500d/">EOS 500D</a></td>
                    <td><a href="https://tuchong.com/body/canon-eos-500d/">102931</a></td>
                    <td><a href="https://tuchong.com/body/canon-eos-500d/">595</a></td>
                </tr>
                <tr>
                    <td class="make"><a href="https://tuchong.com/body/canon/">Canon</a></td>
                    <td class="model"><a href="https://tuchong.com/body/canon-eos-1ds-mark-iii/">EOS-1Ds Mark III</a></td>
                    <td><a href="https://tuchong.com/body/canon-eos-1ds-mark-iii/">20916</a></td>
                    <td><a href="https://tuchong.com/body/canon-eos-1ds-mark-iii/">516</a></td>
                </tr>
                <tr>
                    <td class="make"><a href="https://tuchong.com/body/canon/">Canon</a></td>
                    <td class="model"><a href="https://tuchong.com/body/canon-eos-1200d/">EOS 1200D</a></td>
                    <td><a href="https://tuchong.com/body/canon-eos-1200d/">11244</a></td>
                    <td><a href="https://tuchong.com/body/canon-eos-1200d/">429</a></td>
                </tr>
                <tr>
                    <td class="make"><a href="https://tuchong.com/body/canon/">Canon</a></td>
                    <td class="model"><a href="https://tuchong.com/body/canon-eos-kiss-x7/">EOS Kiss X7</a></td>
                    <td><a href="https://tuchong.com/body/canon-eos-kiss-x7/">7163</a></td>
                    <td><a href="https://tuchong.com/body/canon-eos-kiss-x7/">354</a></td>
                </tr>
                <tr>
                    <td class="make"><a href="https://tuchong.com/body/canon/">Canon</a></td>
                    <td class="model"><a href="https://tuchong.com/body/canon-eos-450d/">EOS 450D</a></td>
                    <td><a href="https://tuchong.com/body/canon-eos-450d/">41389</a></td>
                    <td><a href="https://tuchong.com/body/canon-eos-450d/">334</a></td>
                </tr>
                <tr>
                    <td class="make"><a href="https://tuchong.com/body/canon/">Canon</a></td>
                    <td class="model"><a href="https://tuchong.com/body/canon-eos-40d/">EOS 40D</a></td>
                    <td><a href="https://tuchong.com/body/canon-eos-40d/">57860</a></td>
                    <td><a href="https://tuchong.com/body/canon-eos-40d/">321</a></td>
                </tr>
                <tr>
                    <td class="make"><a href="https://tuchong.com/body/canon/">Canon</a></td>
                    <td class="model"><a href="https://tuchong.com/body/canon-eos-m2/">EOS M2</a></td>
                    <td><a href="https://tuchong.com/body/canon-eos-m2/">8337</a></td>
                    <td><a href="https://tuchong.com/body/canon-eos-m2/">288</a></td>
                </tr>
                <tr>
                    <td class="make"><a href="https://tuchong.com/body/canon/">Canon</a></td>
                    <td class="model"><a href="https://tuchong.com/body/canon-eos-1ds-mark-ii/">EOS-1Ds Mark II</a></td>
                    <td><a href="https://tuchong.com/body/canon-eos-1ds-mark-ii/">10492</a></td>
                    <td><a href="https://tuchong.com/body/canon-eos-1ds-mark-ii/">242</a></td>
                </tr>
                <tr>
                    <td class="make"><a href="https://tuchong.com/body/canon/">Canon</a></td>
                    <td class="model"><a href="https://tuchong.com/body/canon-eos-1d-mark-iv/">EOS-1D Mark IV</a></td>
                    <td><a href="https://tuchong.com/body/canon-eos-1d-mark-iv/">8933</a></td>
                    <td><a href="https://tuchong.com/body/canon-eos-1d-mark-iv/">197</a></td>
                </tr>
                <tr>
                    <td class="make"><a href="https://tuchong.com/body/canon/">Canon</a></td>
                    <td class="model"><a href="https://tuchong.com/body/canon-eos-kiss-x7i/">EOS Kiss X7i</a></td>
                    <td><a href="https://tuchong.com/body/canon-eos-kiss-x7i/">2118</a></td>
                    <td><a href="https://tuchong.com/body/canon-eos-kiss-x7i/">195</a></td>
                </tr>
                <tr>
                    <td class="make"><a href="https://tuchong.com/body/canon/">Canon</a></td>
                    <td class="model"><a href="https://tuchong.com/body/canon-eos-20d/">EOS 20D</a></td>
                    <td><a href="https://tuchong.com/body/canon-eos-20d/">8683</a></td>
                    <td><a href="https://tuchong.com/body/canon-eos-20d/">193</a></td>
                </tr>
                <tr>
                    <td class="make"><a href="https://tuchong.com/body/canon/">Canon</a></td>
                    <td class="model"><a href="https://tuchong.com/body/canon-eos-400d/">EOS 400D</a></td>
                    <td><a href="https://tuchong.com/body/canon-eos-400d/">26603</a></td>
                    <td><a href="https://tuchong.com/body/canon-eos-400d/">192</a></td>
                </tr>
                <tr>
                    <td class="make"><a href="https://tuchong.com/body/canon/">Canon</a></td>
                    <td class="model"><a href="https://tuchong.com/body/canon-eos-1d-mark-iii/">EOS-1D Mark III</a></td>
                    <td><a href="https://tuchong.com/body/canon-eos-1d-mark-iii/">4060</a></td>
                    <td><a href="https://tuchong.com/body/canon-eos-1d-mark-iii/">160</a></td>
                </tr>
                <tr>
                    <td class="make"><a href="https://tuchong.com/body/canon/">Canon</a></td>
                    <td class="model"><a href="https://tuchong.com/body/canon-eos-rebel-t3i/">EOS REBEL T3i</a></td>
                    <td><a href="https://tuchong.com/body/canon-eos-rebel-t3i/">2649</a></td>
                    <td><a href="https://tuchong.com/body/canon-eos-rebel-t3i/">115</a></td>
                </tr>
                <tr>
                    <td class="make"><a href="https://tuchong.com/body/canon/">Canon</a></td>
                    <td class="model"><a href="https://tuchong.com/body/canon-eos-m/">EOS M</a></td>
                    <td><a href="https://tuchong.com/body/canon-eos-m/">4185</a></td>
                    <td><a href="https://tuchong.com/body/canon-eos-m/">97</a></td>
                </tr>
                <tr>
                    <td class="make"><a href="https://tuchong.com/body/canon/">Canon</a></td>
                    <td class="model"><a href="https://tuchong.com/body/canon-eos-30d/">EOS 30D</a></td>
                    <td><a href="https://tuchong.com/body/canon-eos-30d/">9465</a></td>
                    <td><a href="https://tuchong.com/body/canon-eos-30d/">63</a></td>
                </tr>
                <tr>
                    <td class="make"><a href="https://tuchong.com/body/canon/">Canon</a></td>
                    <td class="model"><a href="https://tuchong.com/body/canon-eos-350d/">EOS 350D</a></td>
                    <td><a href="https://tuchong.com/body/canon-eos-350d/">10327</a></td>
                    <td><a href="https://tuchong.com/body/canon-eos-350d/">61</a></td>
                </tr>
                <tr>
                    <td class="make"><a href="https://tuchong.com/body/canon/">Canon</a></td>
                    <td class="model"><a href="https://tuchong.com/body/body-canon-eos-5d-mark-iv/">EOS 5D Mark IV</a></td>
                    <td><a href="https://tuchong.com/body/body-canon-eos-5d-mark-iv/">574</a></td>
                    <td><a href="https://tuchong.com/body/body-canon-eos-5d-mark-iv/">56</a></td>
                </tr>
                <tr>
                    <td class="make"><a href="https://tuchong.com/body/canon/">Canon</a></td>
                    <td class="model"><a href="https://tuchong.com/body/canon-eos-1100d/">EOS 1100D</a></td>
                    <td><a href="https://tuchong.com/body/canon-eos-1100d/">5984</a></td>
                    <td><a href="https://tuchong.com/body/canon-eos-1100d/">55</a></td>
                </tr>
                <tr>
                    <td class="make"><a href="https://tuchong.com/body/canon/">Canon</a></td>
                    <td class="model"><a href="https://tuchong.com/body/canon-eos-kiss-x5/">EOS Kiss X5</a></td>
                    <td><a href="https://tuchong.com/body/canon-eos-kiss-x5/">2275</a></td>
                    <td><a href="https://tuchong.com/body/canon-eos-kiss-x5/">35</a></td>
                </tr>
                <tr>
                    <td class="make"><a href="https://tuchong.com/body/canon/">Canon</a></td>
                    <td class="model"><a href="https://tuchong.com/body/canon-eos-300d/">EOS 300D</a></td>
                    <td><a href="https://tuchong.com/body/canon-eos-300d/">1396</a></td>
                    <td><a href="https://tuchong.com/body/canon-eos-300d/">34</a></td>
                </tr>
                <tr>
                    <td class="make"><a href="https://tuchong.com/body/canon/">Canon</a></td>
                    <td class="model"><a href="https://tuchong.com/body/canon-eos-1000d/">EOS 1000D</a></td>
                    <td><a href="https://tuchong.com/body/canon-eos-1000d/">5785</a></td>
                    <td><a href="https://tuchong.com/body/canon-eos-1000d/">25</a></td>
                </tr>
                <tr>
                    <td class="make"><a href="https://tuchong.com/body/canon/">Canon</a></td>
                    <td class="model"><a href="https://tuchong.com/body/canon-eos-kiss-x6i/">EOS Kiss X6i</a></td>
                    <td><a href="https://tuchong.com/body/canon-eos-kiss-x6i/">2374</a></td>
                    <td><a href="https://tuchong.com/body/canon-eos-kiss-x6i/">23</a></td>
                </tr>
                <tr>
                    <td class="make"><a href="https://tuchong.com/body/canon/">Canon</a></td>
                    <td class="model"><a href="https://tuchong.com/body/canon-eos-kiss-x3/">EOS Kiss X3</a></td>
                    <td><a href="https://tuchong.com/body/canon-eos-kiss-x3/">5377</a></td>
                    <td><a href="https://tuchong.com/body/canon-eos-kiss-x3/">22</a></td>
                </tr>
                <tr>
                    <td class="make"><a href="https://tuchong.com/body/canon/">Canon</a></td>
                    <td class="model"><a href="https://tuchong.com/body/canon-eos-kiss-x4/">EOS Kiss X4</a></td>
                    <td><a href="https://tuchong.com/body/canon-eos-kiss-x4/">1304</a></td>
                    <td><a href="https://tuchong.com/body/canon-eos-kiss-x4/">21</a></td>
                </tr>
                <tr>
                    <td class="make"><a href="https://tuchong.com/body/canon/">Canon</a></td>
                    <td class="model"><a href="https://tuchong.com/body/canon-eos-rebel-t3/">EOS REBEL T3</a></td>
                    <td><a href="https://tuchong.com/body/canon-eos-rebel-t3/">891</a></td>
                    <td><a href="https://tuchong.com/body/canon-eos-rebel-t3/">17</a></td>
                </tr>
                <tr>
                    <td class="make"><a href="https://tuchong.com/body/canon/">Canon</a></td>
                    <td class="model"><a href="https://tuchong.com/body/canon-eos-10d/">EOS 10D</a></td>
                    <td><a href="https://tuchong.com/body/canon-eos-10d/">3120</a></td>
                    <td><a href="https://tuchong.com/body/canon-eos-10d/">15</a></td>
                </tr>
                <tr>
                    <td class="make"><a href="https://tuchong.com/body/canon/">Canon</a></td>
                    <td class="model"><a href="https://tuchong.com/body/canon-eos-1ds/">EOS-1Ds</a></td>
                    <td><a href="https://tuchong.com/body/canon-eos-1ds/">2152</a></td>
                    <td><a href="https://tuchong.com/body/canon-eos-1ds/">15</a></td>
                </tr>
                </tbody>
            </table>
    </main>
</div>
<%include footer.ejs%>
<script>
    $("#detail-container a").attr("href","#");
</script>
</body>

</html>