<footer>
    <div class="container">
        <div class="col-sm-8 text-left">&copy; 2018 成都师范学院<span></span></div>
        <div class="col-sm-4 text-right"><i class="fa fa-desktop" aria-hidden="true"></i> 摄影圈</div>
    </div>
</footer>