<!DOCTYPE html5>
<html>

<head>
    <meta charset="UTF-8">
    <title>摄影教程</title>
    <link rel="stylesheet" href="css/new.css" />
    <link rel="stylesheet" href="css/photoCourse.css"/>
    <script type="text/javascript" src="js/new.js"></script>
</head>

<body>
<header>
    <%include header.ejs%>
</header>
<nav class="secondary-nav">
    <ul class="nav-list">
        <li class="active" data-index="0">
            <a target="_self" href="https://tuchong.com/2990340/">摄影教程</a>
        </li>
    </ul>
</nav>
<main>
    <div class="container">
        <div class="content">
            <div class="widget-courselist">
                <div class="widget-courselist">
                    <ul class="pagelist-wrapper">
                        <li class="impression-item impression-viewed" data-post-id="16243887">

                            <a href="https://tuchong.com/3011407/t/16243887/" class="item-cover" target="_blank">
                                <img src="http://p1.pstatp.com/large/213d00008ab29f6252eb">
                            </a>
                            <div class="item-info">
                                <a href="https://tuchong.com/3011407/t/16243887/" class="item-title" title="如何拍摄闪电？"
                                   target="_blank">如何拍摄闪电？</a>
                                <p class="item-desc">
                                    1、注意安全！这是最基本的，一定要保证自身的安全，在拍摄闪电照片时候，不要站在闪电的范围之内，或者是高地、树底下等等，这都有可能搭上性命。2、长时间曝光拍摄闪电的时候，如果是要“先看后拍”是不可能的，闪电是随机出现的，那么如果要解决这个问题，我们就需要作长时间的曝光：1、架好三脚架。2、相机的手动模式调成B快门/T快门。3、ISO设定值为最低，ISO100或者ISO200。4、光圈的设定可以按闪电的距离而调整，远一些可...</p>
                            </div>

                            <div class="item-related">
                                <!--<div class="item-tags has-tags">
                                    <a href="//tuchong.com/tags/风光" data-popover-type="tag" data-popover-id="693" class="common-tag popover-action" target="_blank">风光</a>
                                    <a href="//tuchong.com/tags/构图" data-popover-type="tag" data-popover-id="6207" class="common-tag popover-action" target="_blank">构图</a>
                                    <a href="//tuchong.com/tags/技巧" data-popover-type="tag" data-popover-id="49550" class="common-tag popover-action" target="_blank">技巧</a>
                                    <a href="//tuchong.com/tags/城市" data-popover-type="tag" data-popover-id="802" class="common-tag popover-action" target="_blank">城市</a>
                                    <a href="//tuchong.com/tags/色彩" data-popover-type="tag" data-popover-id="2105" class="common-tag popover-action" target="_blank">色彩</a>
                                    <a href="//tuchong.com/tags/抓拍" data-popover-type="tag" data-popover-id="2172" class="common-tag popover-action" target="_blank">抓拍</a>
                                </div>-->
                                <div class="item-handler">
                                    <span>爱摄影的小胖迪420</span>

                                    <span> |

				739阅读


				· 17喜欢


				· 1评论

			</span>

                                </div>
                            </div>
                        </li>

                        <li class="impression-item impression-viewed" data-post-id="16241427">

                            <a href="https://tuchong.com/1163103/t/16241427/" class="item-cover" target="_blank">
                                <img src="https://s1.tuchong.com/crawl/57084/534a000334cffcdd27e5.jpeg">
                            </a>
                            <div class="item-info">
                                <a href="https://tuchong.com/1163103/t/16241427/" class="item-title"
                                   title="教你拍静物，逼格上升一大步！" target="_blank">教你拍静物，逼格上升一大步！</a>
                                <p class="item-desc">
                                    摄影题材有许多种类，风光、人物、人文纪实等，但发展时间最长的应该是静物摄影了。由于以前照相技术的局限性，所以静物拍摄就是一个最佳选择。然而随着时代的进步，技术的发展，静物摄影更是许多摄影师首选的题材，不仅可以拍摄日常生活的事物，更是在互联网商品中运用的很好。能大幅度改善产品展示效果，让产品更吸引消费者。除开商业产品，日常生活中的小物件也可以拍得很美，可以让你在朋友圈优雅的秀一波。@吴鸣安那么今天...</p>
                            </div>

                            <div class="item-related">
                                <div class="item-tags ">

                                </div>
                                <div class="item-handler">
                                    <span>好摄大叔</span>

                                    <span> |

				2455阅读


				· 71喜欢


				· 3评论

			</span>

                                </div>
                            </div>
                        </li>

                        <li class="impression-item" data-post-id="16226697">

                            <a href="https://tuchong.com/1163103/t/16226697/" class="item-cover" target="_blank">
                                <img src="https://s1.tuchong.com/crawl/57082/53430009e712d9bdf6db.jpeg">
                            </a>
                            <div class="item-info">
                                <a href="https://tuchong.com/1163103/t/16226697/" class="item-title"
                                   title="摄影不能靠运气，出好片要练“摄影眼”" target="_blank">摄影不能靠运气，出好片要练“摄影眼”</a>
                                <p class="item-desc">
                                    有的时候，要想拍摄出足够吸睛的大片。天时、地利、人和缺一不可。在手机摄影、数码技术如此发达的今天，即便客观条件并非最优我们还是能够凭借高超的技术化腐朽为神奇，展现出场景虽不真实却又要比真实更加美丽的一面。现实生活中，有很多人都喜欢直接乱拍一通，然后再从中挑出满意的照片？好片子一定不是靠运气拍到的，它需要你日积月累的练习，无论是技术，还是审美方面不断强化练习。那么，我们如何在日常的拍照练习中，摆...</p>
                            </div>

                            <div class="item-related">
                                <div class="item-tags ">

                                </div>
                                <div class="item-handler">
                                    <span>好摄大叔</span>

                                    <span> |

				5283阅读


				· 163喜欢


				· 9评论

			</span>

                                </div>
                            </div>
                        </li>

                        <li class="impression-item" data-post-id="16226696">

                            <a href="https://tuchong.com/462420/t/16226696/" class="item-cover" target="_blank">
                                <img src="https://s1.tuchong.com/crawl/57081/5341000eb492af0988f2.jpeg">
                            </a>
                            <div class="item-info">
                                <a href="https://tuchong.com/462420/t/16226696/" class="item-title" title="这款神器可以一键去除杂物"
                                   target="_blank">这款神器可以一键去除杂物</a>
                                <p class="item-desc">
                                    在我们用手机拍照时，有时会不可避免的拍摄到一些不想要杂物，比如电线、垃圾等，后期想要修掉却很麻烦。今天就给大家推荐一款神器：TouchRetouch。这是一款简单的工具，简单几步就能去除照片里的杂乱物体。TouchRetouch可以快速删除垃圾杂物、脸上的痘痘、路标、裂痕划痕和电线等各种线条。操作也特别简单，只要用标记出想要去除的物体，既可以一键自动删除。下面我们用3个案例来示范一下案例一：比如这张照片，中间的钢管很影...</p>
                            </div>

                            <div class="item-related">
                                <div class="item-tags ">

                                </div>
                                <div class="item-handler">
                                    <span>武冬青</span>

                                    <span> |

				3844阅读


				· 104喜欢


				· 11评论

			</span>

                                </div>
                            </div>
                        </li>

                        <li class="impression-item" data-post-id="16204337">

                            <a href="https://tuchong.com/1509367/t/16204337/" class="item-cover" target="_blank">
                                <img src="https://photo.tuchong.com/1509367/ft640/14990070.jpg">
                            </a>
                            <div class="item-info">
                                <a href="https://tuchong.com/1509367/t/16204337/" class="item-title"
                                   title="【风光后期教程】一本正经地聊聊佛系摄影" target="_blank">【风光后期教程】一本正经地聊聊佛系摄影</a>
                                <p class="item-desc">
                                    大家好，我是笑凡，今天这节课用Lr教大家佛系摄影的后期，其中难点是如何营造阳光的神圣感。教程中用到的源文件可以在文章末尾点击百度云链接下载。
                                    这张照片我拍摄于四川省白玉县昌台区阿察乡境内，创建了第二铜色德山亚青邬金禅修圣处——亚青寺。不同于色达五明佛学院依山而建，亚青寺的大部分修行者的房屋是绕河而建。围绕寺庙的建筑群，是一片片信徒居住的小屋
                                    。小盒子房，从数千间到二万多间，是修行者们自己建...</p>
                            </div>

                            <div class="item-related">
                                <div class="item-tags has-tags">
                                    <a href="//tuchong.com/tags/松果计划" data-popover-type="tag" data-popover-id="486649"
                                       class="common-tag popover-action" target="_blank">松果计划</a>
                                    <a href="//tuchong.com/tags/风光" data-popover-type="tag" data-popover-id="693"
                                       class="common-tag popover-action" target="_blank">风光</a>
                                    <a href="//tuchong.com/tags/后期教程" data-popover-type="tag" data-popover-id="367586"
                                       class="common-tag popover-action" target="_blank">后期教程</a>
                                    <a href="//tuchong.com/tags/LR" data-popover-type="tag" data-popover-id="16307"
                                       class="common-tag popover-action" target="_blank">LR</a>
                                    <a href="//tuchong.com/tags/情绪" data-popover-type="tag" data-popover-id="4810"
                                       class="common-tag popover-action" target="_blank">情绪</a>
                                    <a href="//tuchong.com/tags/亚青寺" data-popover-type="tag" data-popover-id="7628"
                                       class="common-tag popover-action" target="_blank">亚青寺</a>
                                    <a href="//tuchong.com/tags/觉姆岛" data-popover-type="tag" data-popover-id="422887"
                                       class="common-tag popover-action" target="_blank">觉姆岛</a>
                                </div>
                                <div class="item-handler">
                                    <span>你好我是笑凡</span>

                                    <span> |

				3964阅读


				· 194喜欢


				· 6评论

			</span>

                                </div>
                            </div>
                        </li>

                        <li class="impression-item" data-post-id="16205182">

                            <a href="https://weiyishanccpp.tuchong.com/t/16205182/" class="item-cover" target="_blank">
                                <img src="http://p9.pstatp.com/large/56850001a3b551b8ac70">
                            </a>
                            <div class="item-info">
                                <a href="https://weiyishanccpp.tuchong.com/t/16205182/" class="item-title"
                                   title="冬日雪景人像，看这一篇就够了" target="_blank">冬日雪景人像，看这一篇就够了</a>
                                <p class="item-desc">
                                    冬天到了，每年冬天最期盼的就是下雪了，可惜北京真是少雪呀，所以去年冬天去了两趟零下30度的呼伦贝尔，让我一次拍个够！也在这里分享一下拍雪的经验吧，风景和人像都有～冬季外拍的难度系数蹭蹭上升，首要原因是太冷了，不管对拍摄者还是被拍摄者都是很大的考验，而且雪地的光线、构图都跟平常的拍摄不太一样，很多以往的经验在雪地拍摄时会失效，下面我会逐一分析。1、
                                    保证正确曝光在雪地里，天地都是白色的，如果是晴天的...</p>
                            </div>

                            <div class="item-related">
                                <div class="item-tags has-tags">
                                    <a href="//tuchong.com/tags/人像" data-popover-type="tag" data-popover-id="131"
                                       class="common-tag popover-action" target="_blank">人像</a>
                                    <a href="//tuchong.com/tags/风光" data-popover-type="tag" data-popover-id="693"
                                       class="common-tag popover-action" target="_blank">风光</a>
                                    <a href="//tuchong.com/tags/雪" data-popover-type="tag" data-popover-id="677"
                                       class="common-tag popover-action" target="_blank">雪</a>
                                    <a href="//tuchong.com/tags/冬天" data-popover-type="tag" data-popover-id="779"
                                       class="common-tag popover-action" target="_blank">冬天</a>
                                    <a href="//tuchong.com/tags/雪景" data-popover-type="tag" data-popover-id="887"
                                       class="common-tag popover-action" target="_blank">雪景</a>
                                </div>
                                <div class="item-handler">
                                    <span>韦苡珊CCPP</span>

                                    <span> |

				5696阅读


				· 262喜欢


				· 2评论

			</span>

                                </div>
                            </div>
                        </li>

                        <li class="impression-item" data-post-id="16219492">

                            <a href="https://manunited.tuchong.com/t/16219492/" class="item-cover" target="_blank">
                                <img src="https://photo.tuchong.com/104938/ft640/10461416.jpg">
                            </a>
                            <div class="item-info">
                                <a href="https://manunited.tuchong.com/t/16219492/" class="item-title"
                                   title="你真的了解太阳光吗？" target="_blank">你真的了解太阳光吗？</a>
                                <p class="item-desc">
                                    这是我2018年的第一篇文章，在文章的开篇，在新年的伊始，感谢所有支持我和我们团队的朋友！极影AdventureX，原创不息，探索不止！2018，keep
                                    walking！这篇文章，我将对太阳光进行深析！地球是行星，行星是不会发光的。我们看到的光都是太阳的反射光，所以，一切都要先从太阳光说起。太阳光是一种电磁波，由不可见光和可见光构成。可见光指的是人类肉眼可以看到的光线：红橙黄绿青蓝紫这七色光。而不可见光是肉眼看不到的光线...</p>
                            </div>

                            <div class="item-related">
                                <div class="item-tags has-tags">
                                    <a href="//tuchong.com/tags/风光" data-popover-type="tag" data-popover-id="693"
                                       class="common-tag popover-action" target="_blank">风光</a>
                                    <a href="//tuchong.com/tags/旅行" data-popover-type="tag" data-popover-id="743"
                                       class="common-tag popover-action" target="_blank">旅行</a>
                                    <a href="//tuchong.com/tags/后期" data-popover-type="tag" data-popover-id="209"
                                       class="common-tag popover-action" target="_blank">后期</a>
                                    <a href="//tuchong.com/tags/教程" data-popover-type="tag" data-popover-id="55458"
                                       class="common-tag popover-action" target="_blank">教程</a>
                                    <a href="//tuchong.com/tags/后期教程" data-popover-type="tag" data-popover-id="367586"
                                       class="common-tag popover-action" target="_blank">后期教程</a>
                                    <a href="//tuchong.com/tags/松果计划" data-popover-type="tag" data-popover-id="486649"
                                       class="common-tag popover-action" target="_blank">松果计划</a>
                                    <a href="//tuchong.com/tags/摄影教程" data-popover-type="tag" data-popover-id="167745"
                                       class="common-tag popover-action" target="_blank">摄影教程</a>
                                </div>
                                <div class="item-handler">
                                    <span>Miller姚明来</span>

                                    <span> |

				2470阅读


				· 187喜欢


				· 11评论

			</span>

                                </div>
                            </div>
                        </li>

                        <li class="impression-item" data-post-id="16218356">

                            <a href="https://tuchong.com/1163103/t/16218356/" class="item-cover" target="_blank">
                                <img src="https://s1.tuchong.com/crawl/57080/5341000a443ba1fac4ae.jpeg">
                            </a>
                            <div class="item-info">
                                <a href="https://tuchong.com/1163103/t/16218356/" class="item-title"
                                   title="手机拍夜景大片，你也可以！" target="_blank">手机拍夜景大片，你也可以！</a>
                                <p class="item-desc">
                                    在智能手机越来越方便的现在，越来越多的人喜欢用手机拍照了，手机拍照的功能也越来越强大。那么如何用手机拍出好看的夜景呢？和自然风光不同，入夜后的城市灯火通明，往往比白天更有魅力。但夜景一直被认为是手机摄影的短板，好看不好拍。特别是当你用手机拍摄时，由于器材的限制，拍摄过程中可能会遇到诸多问题。拍摄@张莉
                                    华为p9但其实当你掌握一些拍摄技巧，还是能拍出相当不错的效果。所以今天大叔来告诉大家用手机如何拍...</p>
                            </div>

                            <div class="item-related">
                                <div class="item-tags ">

                                </div>
                                <div class="item-handler">
                                    <span>好摄大叔</span>

                                    <span> |

				2878阅读


				· 56喜欢


				· 2评论

			</span>

                                </div>
                            </div>
                        </li>

                        <li class="impression-item" data-post-id="16218355">

                            <a href="https://tuchong.com/1163103/t/16218355/" class="item-cover" target="_blank">
                                <img src="https://s1.tuchong.com/crawl/57079/5340000bc46c26ba73e9.jpeg">
                            </a>
                            <div class="item-info">
                                <a href="https://tuchong.com/1163103/t/16218355/" class="item-title"
                                   title="snapseed正确修图步骤在这里，小白别再乱修啦！" target="_blank">snapseed正确修图步骤在这里，小白别再乱修啦！</a>
                                <p class="item-desc">
                                    很多小伙伴一打开snapseed就猴急猴急地一顿乱修，有时候效果还不错，有时候...简直堪比“车祸现场”那今天小小就来具具具体说说，snapseed正确修图步骤！记得用小本本记下来，或者实操个两三遍！小白从此走上snapseed修图的不归路！step
                                    1.凭感觉修这个确实没错，但要基于经过思考的前提下才是正确的修图第一步！在开始修这张图前，你需要先分析这张图片存在的问题，然后确定思路：我想把它还原我当时看到的模样；或是我想把它变...</p>
                            </div>

                            <div class="item-related">
                                <div class="item-tags ">

                                </div>
                                <div class="item-handler">
                                    <span>好摄大叔</span>

                                    <span> |

				4627阅读


				· 211喜欢


				· 8评论

			</span>

                                </div>
                            </div>
                        </li>

                        <li class="impression-item" data-post-id="16205863">

                            <a href="https://tuchong.com/240621/t/16205863/" class="item-cover" target="_blank">
                                <img src="https://photo.tuchong.com/240621/ft640/26125549.jpg">
                            </a>
                            <div class="item-info">
                                <a href="https://tuchong.com/240621/t/16205863/" class="item-title"
                                   title="为什么摄影师就是比你拍的好" target="_blank">为什么摄影师就是比你拍的好</a>
                                <p class="item-desc">
                                    如果你不是摄影师，那么摄影师拍的照片当然比你好，否则人家还怎么能称作摄影师呢。但是，尽管普通人和摄影师拍的照片之间有差距是毋庸置疑的，但是如果也想拍出漂亮的照片，就要知道和摄影师的片子之间的差距在哪里。这不仅适用于普通人，也适用于新入门的摄影师。光线光线是非常复杂的，在同样的场景下不同的光线也能够拍摄出差异非常大的画面。根据硬度，光线可以分为硬光和软光。硬光会在被照射的物体边缘留下边界清晰的投...</p>
                            </div>

                            <div class="item-related">
                                <div class="item-tags has-tags">
                                    <a href="//tuchong.com/tags/单反" data-popover-type="tag" data-popover-id="8727"
                                       class="common-tag popover-action" target="_blank">单反</a>
                                    <a href="//tuchong.com/tags/器材" data-popover-type="tag" data-popover-id="1126"
                                       class="common-tag popover-action" target="_blank">器材</a>
                                    <a href="//tuchong.com/tags/创意" data-popover-type="tag" data-popover-id="161"
                                       class="common-tag popover-action" target="_blank">创意</a>
                                    <a href="//tuchong.com/tags/光线" data-popover-type="tag" data-popover-id="1034"
                                       class="common-tag popover-action" target="_blank">光线</a>
                                    <a href="//tuchong.com/tags/后期处理" data-popover-type="tag" data-popover-id="10639"
                                       class="common-tag popover-action" target="_blank">后期处理</a>
                                    <a href="//tuchong.com/tags/构图" data-popover-type="tag" data-popover-id="6207"
                                       class="common-tag popover-action" target="_blank">构图</a>
                                    <a href="//tuchong.com/tags/教程" data-popover-type="tag" data-popover-id="55458"
                                       class="common-tag popover-action" target="_blank">教程</a>
                                </div>
                                <div class="item-handler">
                                    <span>asusmt</span>

                                    <span> |

				16869阅读


				· 890喜欢


				· 29评论

			</span>

                                </div>
                            </div>
                        </li>
                    </ul>
                    <i class="icon-loading--yellow" style="display: none;"></i>
                    <!--<div class="pagelist-load-more" style="display: block;">加载更多</div><i class="icon-end" style="display: none;"></i></div>-->
                </div>
            </div>
        </div>
    </div>
</main>
<%include footer.ejs%>
</body>

</html>