.gallery {
  width: 1000px;
  column-width: 280px;
  -webkit-column-width: 280px;
  -moz-column-width: 280px;
  -webkit-column-gap: 10px;
  column-gap: 10px;
  margin: 0 auto;
  padding-top: 30px;
  margin-bottom: 20px;
}
.gallery .white-panel {
  display: block;
  background: white;
  border-bottom: 2px solid #c99a05;
  padding: 8px;
  padding-top: 20px;
}
.gallery .white-panel img {
  width: 100%;
  max-width: 100%;
  height: auto;
}
.gallery .white-panel h1 {
  font-size: 1em;
}
.gallery .white-panel a {
  color: #8a6d3b;
  font-size: 18px;
}
.gallery .white-panel:hover {
  cursor: pointer;
  border-bottom-color: #3c99b0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
