.navbar-default {
  min-height: 60px;
  margin-bottom: 0;
  padding-top: 3px;
  background-color: black;
  border-color: black;
}
.navbar-default .navbar-brand {
  font-family: "Microsoft YaHei", "宋体", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: white;
  letter-spacing: 5px;
}
.navbar-default .navbar-brand img {
  height: 28px;
  margin-top: -4px;
  display: inline;
}
.navbar-default .navbar-nav > li > a {
  color: white;
}
.navbar-default .navbar-nav > li > a:hover {
  color: white;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}
.navbar-ul {
  list-style: none;
  float: right;
  padding-top: 15px;
  padding-right: 20px;
}
.navbar-ul li {
  float: left;
  margin-left: 20px;
  font-family: "微软雅黑";
  font-size: 16px;
}
.navbar-ul li a {
  color: white;
}
.navbar-toggle {
  border: none;
}
.navbar-toggle .icon-bar {
  width: 28px;
  height: 3px;
}
.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 5px;
}
.navbar-collapse {
  overflow: hidden;
}
.btn-success {
  color: #fff;
  background-color: #17a88b;
  border-color: #17a88b;
}
.btn-success:hover {
  color: #fff !important;
  background-color: #149278 !important;
  border-color: #149278 !important;
}
.btn-success .badge {
  color: #17a88b;
}
.modal-content {
  border-radius: 0;
}
.modal-header {
  padding: 15px 20px;
  border-bottom: none;
}
.modal-header .close {
  outline: 0;
}
.modal-header .modal-title-login {
  text-align: center;
  font-size: 26px;
}
.modal-body {
  padding: 20px;
}
.modal-footer {
  border-top: none;
}
.form-control {
  box-shadow: none;
  font-size: 14px;
  border: 1px solid #e6e6e6;
  padding-left: 12px!important;
}
.form-control.rounded {
  border-radius: 100px !important;
}
.form-control.focus,
.form-control:focus {
  box-shadow: none;
}
.secondary-nav {
  width: 100%;
  height: 60px;
  padding: 16px 0;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 8px 0 rgba(133, 136, 138, 0.1);
  -moz-box-shadow: 0 2px 8px 0 rgba(133, 136, 138, 0.1);
  box-shadow: 0 2px 8px 0 rgba(133, 136, 138, 0.1);
  position: relative!important;
}
.secondary-nav .nav-list {
  position: relative;
  text-align: center;
  font-size: 0;
}
.secondary-nav .nav-list li {
  display: inline-block;
  height: 28px;
  font-size: 14px;
  line-height: 28px;
}
.secondary-nav .nav-list li a {
  position: relative;
  display: block;
  height: 100%;
  margin: 0 20px;
  color: #222;
  text-decoration: none;
}
.secondary-nav .nav-list li a:hover {
  border-bottom: 2px solid #c99a05;
  color: #c99a05;
}
.secondary-nav .nav-list li.active a {
  border-bottom: 2px solid #c99a05;
}
.secondary-nav .nav-list li.new-nav a::after {
  content: "";
  position: absolute;
  left: 27px;
  top: 0;
  width: 8px;
  height: 8px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #e60905;
}
footer {
  background-color: #2f2e2e;
  color: #999;
  padding: 30px 0;
  line-height: 1.6;
}
footer .container div {
  text-align: center;
}
footer .container span {
  display: block;
}
body {
  color: #333;
  background-color: #eaeaea;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 14px;
  background-color: #f9f9f9;
  min-width: 800px;
  font-family: -apple-system, BlinkMacSystemFont, Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
.content {
  width: 1000px;
  padding: 34px 50px 0 30px;
  background-color: #fff;
  font-size: 14px;
  vertical-align: top;
  margin: 0 auto;
  margin-top: 20px;
}
.content .pagelist-wrapper li {
  padding: 32px 0 20px;
  border-top: 1px solid #eaeaea;
  font-size: 0;
}
.content .pagelist-wrapper li a {
  text-decoration: none;
  cursor: pointer;
}
.content .pagelist-wrapper li .item-cover {
  position: relative;
  display: inline-block;
  width: 150px;
  height: 150px;
  margin-right: 30px;
}
.content .pagelist-wrapper li .item-cover img {
  display: block;
  width: 100%;
  height: 100%;
}
.content .pagelist-wrapper li .item-info {
  display: inline-block;
  width: 692px;
  vertical-align: top;
  font-size: 14px;
  overflow: hidden;
}
.content .pagelist-wrapper li .item-info .item-title {
  display: block;
  width: 100%;
  font-size: 22px;
  line-height: 1;
  color: #259;
  font-weight: 700;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.content .pagelist-wrapper li .item-info .item-owner {
  display: block;
  margin-top: 10px;
  color: #999;
  line-height: 1;
}
.content .pagelist-wrapper li .item-info .item-album {
  position: relative;
  margin-top: 20px;
  font-size: 0;
}
.content .pagelist-wrapper li .item-info .item-album .album-item {
  display: inline-block;
  width: 150px;
  height: 150px;
  margin-left: 10px;
}
.content .pagelist-wrapper li .item-info .item-album .album-item:first-child {
  margin-left: 0;
}
.content .pagelist-wrapper li .item-info .item-album .album-item img {
  width: 100%;
  height: 100%;
}
.content .pagelist-wrapper li .item-info .item-album .hint {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 20px;
  padding: 0 10px;
  line-height: 20px;
  font-size: 12px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
}
.content .pagelist-wrapper li .item-info .item-desc {
  max-height: 84px;
  padding: 0;
  margin: 20px 0 0;
}
.content .pagelist-wrapper li .item-related {
  position: relative;
  display: block;
  margin: 10px 0 0;
  font-size: 12px;
  margin-bottom: 20px;
}
.content .pagelist-wrapper li .item-related .item-tags {
  height: 22px;
  padding-right: 300px;
  font-size: 0;
  overflow: hidden;
}
.content .pagelist-wrapper li .item-related .item-tags a {
  display: inline-block;
  height: 22px;
  padding: 0 12px;
  border: 1px solid #e3e4e6;
  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
  border-radius: 11px;
  margin-left: 10px;
  color: #808388;
  font-size: 12px;
  text-align: center;
  line-height: 22px;
  vertical-align: middle;
}
.content .pagelist-wrapper li .item-related .item-tags a:hover {
  background-color: #f5f6f8;
}
.content .pagelist-wrapper li .item-related .item-handler {
  position: absolute;
  top: 3px;
  right: 0;
}
.content .pagelist-wrapper li .item-related .item-handler span {
  color: #808388;
}
