.navbar-default {
  min-height: 60px;
  margin-bottom: 0;
  padding-top: 3px;
  background-color: black;
  border-color: black;
}
.navbar-default .navbar-brand {
  font-family: "Microsoft YaHei", "宋体", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: white;
  letter-spacing: 5px;
}
.navbar-default .navbar-brand img {
  height: 28px;
  margin-top: -4px;
  display: inline;
}
.navbar-default .navbar-nav > li > a {
  color: white;
}
.navbar-default .navbar-nav > li > a:hover {
  color: white;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}
.navbar-ul {
  list-style: none;
  float: right;
  padding-top: 15px;
  padding-right: 20px;
}
.navbar-ul li {
  float: left;
  margin-left: 20px;
  font-family: "微软雅黑";
  font-size: 16px;
}
.navbar-ul li a {
  color: white;
}
.navbar-toggle {
  border: none;
}
.navbar-toggle .icon-bar {
  width: 28px;
  height: 3px;
}
.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 5px;
}
.navbar-collapse {
  overflow: hidden;
}
.btn-success {
  color: #fff;
  background-color: #17a88b;
  border-color: #17a88b;
}
.btn-success:hover {
  color: #fff !important;
  background-color: #149278 !important;
  border-color: #149278 !important;
}
.btn-success .badge {
  color: #17a88b;
}
.modal-content {
  border-radius: 0;
}
.modal-header {
  padding: 15px 20px;
  border-bottom: none;
}
.modal-header .close {
  outline: 0;
}
.modal-header .modal-title-login {
  text-align: center;
  font-size: 26px;
}
.modal-body {
  padding: 20px;
}
.modal-footer {
  border-top: none;
}
.form-control {
  box-shadow: none;
  font-size: 14px;
  border: 1px solid #e6e6e6;
  padding-left: 12px!important;
}
.form-control.rounded {
  border-radius: 100px !important;
}
.form-control.focus,
.form-control:focus {
  box-shadow: none;
}
main {
  display: block;
  min-height: 300px;
}
.user-container {
  width: 100%;
}
ul,
li,
p {
  padding: 0;
  margin: 0;
  list-style: none;
}
dl,
dd {
  padding: 0;
  margin: 0;
  text-align: left;
  list-style: none;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}
.posRelative {
  position: relative;
}
.personal-banner {
  background-color: #000;
  -moz-background-size: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  padding: 180px 40px 40px;
  font-size: 14px;
  line-height: 20px;
  color: #f9f9f9;
  position: relative;
}
.personal-banner:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
}
.personal-banner .btn {
  color: #fff;
  border: 2px solid #fff;
  border-radius: 0;
  padding: 0;
  font-size: 15px;
  cursor: pointer;
  float: right;
  line-height: 24px;
  margin-right: 15px;
  font-size: 14px;
  text-align: center;
  width: 62px;
  height: 28px;
}
.personal-banner form {
  display: inline-block;
  margin: 0;
}
.personal-banner .personal-banner-info {
  height: 100px;
  max-height: 100px;
}
.personal-banner .personal-logo-link {
  display: inline-block;
  margin-right: 26px;
  position: relative;
}
.personal-banner .personal-logo-link img {
  width: 100px;
  height: 100px;
  border: solid 1px rgba(255, 255, 255, 0.1);
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
}
.personal-banner .personal-logo-link .vip-right {
  bottom: 0;
  right: 0;
  z-index: 2;
  width: 24px;
  height: 24px;
  position: absolute;
}
.personal-banner .personal-logo-link .vip-left {
  bottom: 0;
  right: 12px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.personal-banner .personal-info {
  width: 495px;
  vertical-align: top;
  position: absolute;
  top: 8px;
  left: 137px;
  font-family: 微软雅黑;
}
.personal-banner .personal-info .slash-list {
  margin: 12px 0;
  line-height: 20px;
  height: 20px;
}
.personal-banner .personal-info .slash-list .slash-item {
  font-weight: 500;
  float: left;
  margin-right: 10px;
}
.personal-banner .personal-info .slash-list a {
  font-weight: inherit;
}
.personal-banner .personal-info .info-name {
  font-size: 22px;
  line-height: 30px;
  color: #fff;
  font-weight: 500;
}
.personal-banner .personal-info .info-title {
  color: #c99a05;
  margin-left: 10px;
}
.personal-banner .personal-info .follow-btn {
  display: inline-block;
  margin-left: 20px;
  float: none;
}
.personal-banner .personal-info .info-desc {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0;
  font-size: 12px;
  line-height: 17px;
}
.personal-banner .personal-act {
  float: right;
  margin-top: 68px;
}
.personal-banner .personal-act .act-btn {
  margin-left: 20px;
}
.personal-banner .personal-act .act-btn:first-child {
  margin-left: 0;
}
.personal-banner .personal-act .oper-more {
  display: inline-block;
  position: relative;
  margin: 0 3px 0 20px;
}
.personal-banner .personal-act .oper-more .act-more {
  width: 30px;
  height: 30px;
  vertical-align: middle;
  content: url("data:image/png");
}
.personal-banner .personal-act .oper-more .act-list {
  display: none;
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: 0;
  width: 100px;
  border-bottom: 40px solid transparent;
  text-align: center;
}
.personal-banner .personal-act .oper-more .act-list li {
  padding: 5px 15px;
  background-color: #222;
  color: #fff;
}
.personal-banner .personal-act .oper-more .act-list li a:hover {
  color: #c99a05;
}
.personal-banner .personal-act .oper-more .act-list li:first-child {
  padding-top: 15px;
}
.personal-banner .personal-act .oper-more .act-list li:last-child {
  padding-bottom: 15px;
}
.personal-banner .personal-act .oper-more:hover .act-list {
  display: block;
}
.personal-banner .file-container {
  position: relative;
  cursor: pointer;
}
.personal-banner .file-container:hover {
  border-bottom: 1px solid #fff;
}
.personal-banner .file-container:active {
  color: #c99a05;
}
.personal-banner .file-container .bgFileInput {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
}
.secondary-nav {
  width: 100%;
  height: 60px;
  padding: 16px 0;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 8px 0 rgba(133, 136, 138, 0.1);
  -moz-box-shadow: 0 2px 8px 0 rgba(133, 136, 138, 0.1);
  box-shadow: 0 2px 8px 0 rgba(133, 136, 138, 0.1);
  position: relative!important;
}
.secondary-nav .nav-list {
  position: relative;
  text-align: center;
  font-size: 0;
}
.secondary-nav .nav-list li {
  display: inline-block;
  height: 28px;
  font-size: 14px;
  line-height: 28px;
}
.secondary-nav .nav-list li a {
  position: relative;
  display: block;
  height: 100%;
  margin: 0 20px;
  color: #222;
  text-decoration: none;
}
.secondary-nav .nav-list li a:hover {
  border-bottom: 2px solid #c99a05;
  color: #c99a05;
}
.secondary-nav .nav-list li.active a {
  border-bottom: 2px solid #c99a05;
}
.secondary-nav .nav-list li.new-nav a::after {
  content: "";
  position: absolute;
  left: 27px;
  top: 0;
  width: 8px;
  height: 8px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #e60905;
}
.gallery {
  width: 1000px;
  column-width: 280px;
  -webkit-column-width: 280px;
  -moz-column-width: 280px;
  -webkit-column-gap: 10px;
  column-gap: 10px;
  margin: 0 auto;
  padding-top: 30px;
  margin-bottom: 20px;
}
.gallery .white-panel {
  display: block;
  background: white;
  border-bottom: 2px solid #c99a05;
  padding: 8px;
  padding-top: 20px;
}
.gallery .white-panel img {
  width: 100%;
  max-width: 100%;
  height: auto;
}
.gallery .white-panel h1 {
  font-size: 1em;
}
.gallery .white-panel a {
  color: #8a6d3b;
  font-size: 18px;
}
.gallery .white-panel:hover {
  cursor: pointer;
  border-bottom-color: #3c99b0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
footer {
  background-color: #2f2e2e;
  color: #999;
  padding: 30px 0;
  line-height: 1.6;
}
footer .container div {
  text-align: center;
}
footer .container span {
  display: block;
}
